<div class="flex flex-col">
  <!-- title bar -->
  <div class="flex flex-col gap-4 px-4 pt-8">
    <span class="text-[24px] text-gray-900 font-medium dark:text-white">Classroom Keys</span>
  </div>

  <div class="border-light-dark rounded-lg mx-4 mt-8">
    <!-- card-title -->
    <div class="flex flex-row gap-4 p-4 justify-between border-b border-gray-300 dark:border-night-500">
      <!-- title and description -->
      <div class="grow flex flex-col gap-0">
        <span class="text-gray-700 text-[16px] font-bold dark:text-white">Classroom key availability</span>
        <span class="text-gray-500 text-[14px]">This is the availability of keys for room access.</span>
      </div>

      <!-- triple dot -->
      <button class="shrink-0 h-5 w-5">
        <i class="fa-solid fa-ellipsis-vertical w-full h-full"></i>
      </button>
    </div>

    <!-- place chart here -->
    <div class="flex flex-col gap-4 p-6 border-b border-gray-300 dark:border-night-500">
      <div class="flex flex-row justify-center items-end">
        chart here :>
      </div>

      <div class="">
        <div class="text-gray-900 text-[16px] dark:text-white">There are only few keys left for rooms.</div>
        <div class="text-gray-500 text-[14px]">Contact the responsible authority for the designated room and key.</div>
      </div>
    </div>

    <!-- card-footer -->
    <div class="flex justify-end items-center p-4">
      <button [routerLink]="['/keys/classroom-keys']" class="flex justify-center items-center gap-2 button-plain w-fit">
        <span>
          <i class="fa-solid fa-chevron-right"></i>
          <i class="fa-solid fa-chevron-right"></i>
        </span>
        <span>Proceed to keys</span>
      </button>
    </div>
  </div>



  <!-- Key logs -->
  <div class="flex flex-col gap-4 py-8 justify-between">
    <!-- title and description -->
    <div class="grow flex flex-col mx-4 gap-0">
      <span class="text-gray-700 text-[16px] font-bold dark:text-white">Key Logs</span>
      <span class="text-gray-500 text-[14px]">Keep track the attendance of the faculty.</span>
    </div>

    <button [routerLink]="['/keys/key-logs']" class="flex justify-center items-center gap-2 button-plain w-fit mx-4">
      <span>
        <i class="fa-solid fa-chevron-right"></i>
        <i class="fa-solid fa-chevron-right"></i>
      </span>
      <span>Proceed to key logs</span>
    </button>



    <!-- search bar and filter buttons-->
    <div class="flex flex-col mx-4 gap-2">
      <!-- search bar row -->
      <div class="flex flex-row gap-2 mb-2">
        <div class="grow border-light-dark rounded-lg flex flex-row justify-start items-center px-2">
          <i class="fa-solid fa-magnifying-glass dark:text-night-200"></i>
          <input class="border-none" type="text" name="faculty-member-search" id="faculty-member-search" placeholder="Search">
        </div>

        <button class="shrink-0 button-plain w-fit" 
          type="submit">
          <i class="fa-solid fa-filter"></i>
        </button>
      </div>

      <div class="flex flex-row gap-2 items-center">
        <button class="shrink-0 button-colored">
          All
        </button>
        <button class="shrink-0 button-plain">
          Returned
        </button>
        <button class="shrink-0 button-plain">
          Borrowed
        </button>
        <button class="shrink-0 button-plain">
          Lost
        </button>
      </div>
    </div>

    <ul class="flex flex-col border-light-dark max-h-[500px] overflow-y-scroll">
      <!-- list header -->
      <div class="sticky top-0 flex flex-row items-center text-[12px] border-y px-4 py-4 bg-white  border-gray-300 dark:border-night-500 dark:bg-night-700 dark:text-night-200">
        <div class="basis-2/5">
          <button class="w-fit flex flex-row items-center justify-start gap-2">
            <span>Faculty</span> 
            <i class="fa-solid fa-arrow-up"></i>
          </button>
        </div>
        <div class="basis-1/5 flex justify-center items-center">
          <button class="w-fit flex flex-row items-center justify-start gap-2">
            <span>Room</span> 
            <i class="fa-solid fa-arrow-up"></i>
          </button>
        </div>
        <div class="basis-1/5 flex justify-center items-center">
            <span>Key Monitoring</span> 
        </div>

        <div class="basis-1/5 flex justify-center items-center">
          <button class="w-fit flex flex-row items-center justify-start gap-2">
            <span>Date and Time</span> 
            <i class="fa-solid fa-arrow-up"></i>
          </button>
        </div>
      </div>


      <!-- faculty member entries -->
      <li *ngFor="let loop2 of '01234567890123123123'.split('')" class="flex flex-row p-4">
        <!-- members' basic info -->
        <div class="basis-2/5 flex flex-row items-center min-w-0">
          <!-- image -->
          <div class="mr-2 shrink-0 flex items-center justify-center bg-primary-700 w-12 h-12 rounded-full text-[70px] text-white overflow-hidden">
            <i class="fa-solid fa-chart-simple"></i>
          </div>

          <!-- name and email -->
          <div class="text-[14px] min-w-0">
            <div class="text-gray-900 min-w-0 truncate dark:text-white">First_name Last_name</div>
            <div class="text-gray-500 min-w-0 truncate">name@email.com</div>
          </div>
        </div>

        <!-- key monitoring badges -->
        <div class="shrink-0 basis-1/5 text-center flex justify-center items-center min-w-0 truncate dark:text-white">
          <span>IT 1</span>
        </div>

        <!-- key monitoring badges -->
        <div class="shrink-0 basis-1/5 flex flex-col justify-center items-center">
          <!-- returned -->
          <div class="shrink-0 badge badge-accent">Returned</div>


          <!-- borrowed -->
          <div class="shrink-0 badge badge-secondary">Borrowed</div>


          <!-- lost -->
          <div class="shrink-0 badge badge-error">Lost</div>
        </div>


        <!-- date and time -->
        <div class="min-w-0 basis-1/5 flex flex-row justify-center items-center gap-4 text-gray-500 dark:text-night-200">
          <div class="min-w-0 text-center dark:border-night-200 dark:text-night-200">03/25/2023 - 11:10 am</div>
        </div>
      </li>

      <!-- pagination -->
      <div class="bottom-0 sticky flex items-center justify-between bg-white p-4 border-t border-gray-300 
        dark:border-night-500 dark:bg-night-700">
        <button class="btn-square shrink-0 button-plain w-fit">
          <span class="material-icons">
            chevron_left
          </span>
        </button>

        <span class="text-center dark:text-night-200">Page 1 out of 10</span>

        <button class="btn-square shrink-0 button-plain w-fit">
          <span class="material-icons">
            chevron_right
          </span>
        </button>
      </div>
    </ul>
  </div>
</div>
