<div class="flex flex-col">
  <!-- title bar -->
  <div class="flex flex-col gap-4 px-4 pt-8">
    <span class="text-[24px] text-gray-900 font-medium dark:text-white">
      Classroom Keys
    </span>
  </div>

  <div *ngIf="availableKeys" class="border-light-dark rounded-lg mx-4 mt-8">
    <!-- card-title -->
    <div class="flex flex-row gap-4 p-4 justify-between border-b border-gray-300 dark:border-night-500">
      <!-- title and description -->
      <div class="grow flex flex-col gap-0">
        <span class="text-gray-700 text-[16px] font-bold dark:text-white">
          Classroom key availability
        </span>
        <span class="text-gray-500 text-[14px] dark:text-night-100">
          This is the availability of keys for room access.
        </span>
      </div>

      <!-- triple dot -->
      <button class="shrink-0 h-5 w-5">
        <i class="fa-solid fa-ellipsis-vertical w-full h-full"></i>
      </button>
    </div>

    <!-- place chart here -->
    <div class="flex flex-col gap-4 p-6 border-b border-gray-300 dark:border-night-500">
      <div class="flex flex-row justify-center items-end">
        <div class="radial-progress text-green-400" style="--value:{{availableKeys.available_percentage}}; --size:10rem;">
          <span class="text-black text-[30px] dark:text-night-200">
            {{availableKeys.available}}
          </span>
        </div>
      </div>

      <div class="">
        <!-- <div class="text-gray-900 text-[16px] dark:text-white">There are only few keys left for rooms.</div> -->
        <div class="text-gray-500 text-[14px] dark:text-night-100">Contact the responsible authority for the designated
          room and key.</div>
      </div>
    </div>

    <!-- card-footer -->
    <div class="flex justify-end items-center p-4">
      <button [routerLink]="['/keys/classroom-keys']" class="flex justify-center items-center gap-2 button-plain w-fit">
        <span>
          <i class="fa-solid fa-chevron-right"></i>
          <i class="fa-solid fa-chevron-right"></i>
        </span>
        <span>Proceed to keys</span>
      </button>
    </div>
  </div>

  <!-- Key logs -->
  <div class="flex flex-col gap-4 py-8 justify-between">
    <!-- title and description -->
    <div class="grow flex flex-col mx-4 gap-0">
      <span class="text-gray-700 text-[16px] font-bold dark:text-white">Key Logs</span>
      <span class="text-gray-500 text-[14px] dark:text-night-100">Keep track the attendance of the faculty.</span>
    </div>

    <button *ngIf="false" [routerLink]="['/keys/key-logs']"
            class="flex justify-center items-center gap-2 button-plain w-fit mx-4">
      <span>
        <i class="fa-solid fa-chevron-right"></i>
        <i class="fa-solid fa-chevron-right"></i>
      </span>
      <span>Proceed to key logs</span>
    </button>

    <!-- search bar and filter buttons-->
    <div class="flex flex-col mx-4 gap-2">
      <!-- search bar row -->
      <div *ngIf="false" class="flex flex-row gap-2 mb-2">
        <div class="grow border-light-dark rounded-lg flex flex-row justify-start items-center px-2">
          <i class="fa-solid fa-magnifying-glass dark:text-night-200"></i>
          <input class="border-none" type="text" name="faculty-member-search" id="faculty-member-search"
                 placeholder="Search">
        </div>

        <button class="shrink-0 button-plain w-fit"
                type="submit">
          <i class="fa-solid fa-filter"></i>
        </button>
      </div>

      <div class="flex flex-row gap-2 items-center">
        <a href="#keylogs-all" class="button-plain tab-link active1">All</a>
        <a href="#keylogs-returned" class="button-plain tab-link">Returned</a>
        <a href="#keylogs-borrowed" class="button-plain tab-link">Borrowed</a>
        <a href="#keylogs-lost" class="button-plain tab-link">Lost</a>
      </div>
    </div>

    <div id="keylogs-all" class="tab-content active">
      <ul *ngIf="keyLogs && keyLogs.length > 0; else noKeylogsAllBlock"
          class="flex flex-col border-light-dark max-h-[500px] overflow-y-scroll">
        <!-- list header -->
        <div
             class="sticky top-0 flex flex-row items-center text-[12px] border-y px-4 py-4 bg-white  border-gray-300 dark:border-night-500 dark:bg-night-700 dark:text-night-200">
          <div class="basis-2/5">
            <button class="w-fit flex flex-row items-center justify-start gap-2">
              <span>Faculty</span>
              <i class="fa-solid fa-arrow-up"></i>
            </button>
          </div>
          <div class="basis-1/5 flex justify-center items-center">
            <button class="w-fit flex flex-row items-center justify-start gap-2">
              <span>Room</span>
              <i class="fa-solid fa-arrow-up"></i>
            </button>
          </div>
          <div class="basis-1/5 flex justify-center items-center">
            <span>Key Monitoring</span>
          </div>

          <div class="basis-1/5 flex justify-center items-center">
            <button class="w-fit flex flex-row items-center justify-start gap-2">
              <span>Date and Time</span>
              <i class="fa-solid fa-arrow-up"></i>
            </button>
          </div>
        </div>

        <!-- faculty member entries -->
        <li *ngFor="let keyLog of keyLogs" class="flex flex-row p-4">
          <!-- members' basic info -->
          <div class="basis-2/5 flex flex-row items-center min-w-0">
            <!-- image -->
            <div [ngClass]="'bg-' + systemService.color + '-700'"
                 class="mr-2 shrink-0 flex items-center justify-center w-12 h-12 rounded-full text-[70px] text-white overflow-hidden">
              <!-- <i class="fa-solid fa-chart-simple"></i> -->
              <img src='assets/avatars/user-profile.png' class="" alt="" />
            </div>

            <!-- name and email -->
            <div class="text-[14px] min-w-0">
              <div class="text-gray-900 min-w-0 truncate dark:text-white">
                {{ keyLog.faculty?.full_name ?? 'Unknown' }}
              </div>
              <div class="text-gray-500 min-w-0 truncate dark:text-night-100">
                {{ keyLog.faculty?.email ?? 'Unknown' }}
              </div>
            </div>
          </div>

          <!-- key monitoring badges -->
          <div class="shrink-0 basis-1/5 text-center flex justify-center items-center min-w-0 truncate dark:text-white">
            <span>
              {{ keyLog.room_key?.room?.name ?? 'Unknown' }}
            </span>
          </div>

          <div class="shrink-0 basis-1/5 flex flex-col justify-center items-center">
            <!-- returned -->
            <div *ngIf="keyLog.status==='Returned'" class="shrink-0 badge badge-accent">Returned</div>
            <!-- borrowed -->
            <div *ngIf="keyLog.status==='Borrowed'" class="shrink-0 badge bg-[#00359E] border-none">Borrowed</div>
            <!-- lost -->
            <div *ngIf="keyLog.status==='Lost'" class="shrink-0 badge badge-error">Lost</div>
          </div>


          <!-- date and time -->
          <div
               class="min-w-0 basis-1/5 flex flex-row justify-center items-center gap-4 text-gray-500">
            <div class="min-w-0 text-center dark:border-night-200 dark:text-night-100">
              {{keyLog.time_block}}
            </div>
          </div>
        </li>

        <!-- pagination -->
        <div class="w-full sticky bottom-0 flex flex-row items-center justify-center bg-white p-4 border-t dark:bg-night-700 dark:border-night-500
          xl:col-span-2">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </ul>

      <ng-template #noKeylogsAllBlock>
        <div>
          <span class="ml-4 dark:text-white">There are no keylogs yet...</span>
        </div>
      </ng-template>
    </div>

    <div id="keylogs-returned" class="tab-content">
      <ul *ngIf="keyLogsReturned && keyLogsReturned.length > 0; else noKeylogsReturnedBlock"
          class="flex flex-col border-light-dark max-h-[500px] overflow-y-scroll">
        <!-- list header -->
        <div
             class="sticky top-0 flex flex-row items-center text-[12px] border-y px-4 py-4 bg-white  border-gray-300 dark:border-night-500 dark:bg-night-700 dark:text-night-200">
          <div class="basis-2/5">
            <button class="w-fit flex flex-row items-center justify-start gap-2">
              <span>Faculty</span>
              <i class="fa-solid fa-arrow-up"></i>
            </button>
          </div>
          <div class="basis-1/5 flex justify-center items-center">
            <button class="w-fit flex flex-row items-center justify-start gap-2">
              <span>Room</span>
              <i class="fa-solid fa-arrow-up"></i>
            </button>
          </div>
          <div class="basis-1/5 flex justify-center items-center">
            <span>Key Monitoring</span>
          </div>

          <div class="basis-1/5 flex justify-center items-center">
            <button class="w-fit flex flex-row items-center justify-start gap-2">
              <span>Date and Time</span>
              <i class="fa-solid fa-arrow-up"></i>
            </button>
          </div>
        </div>

        <!-- faculty member entries -->
        <li *ngFor="let keyLog of keyLogsReturned" class="flex flex-row p-4">
          <!-- members' basic info -->
          <div class="basis-2/5 flex flex-row items-center min-w-0">
            <!-- image -->
            <div [ngClass]="'bg-' + systemService.color + '-700'"
                 class="mr-2 shrink-0 flex items-center justify-center w-12 h-12 rounded-full text-[70px] text-white overflow-hidden">
              <!-- <i class="fa-solid fa-chart-simple"></i> -->
              <img src='assets/avatars/user-profile.png' class="" alt="" />
            </div>

            <!-- name and email -->
            <div class="text-[14px] min-w-0">
              <div class="text-gray-900 min-w-0 truncate dark:text-white">
                {{ keyLog.faculty?.full_name ?? 'Unknown' }}
              </div>
              <div class="text-gray-500 min-w-0 truncate dark:text-night-100">
                {{ keyLog.faculty?.email ?? 'Unknown' }}
              </div>
            </div>
          </div>

          <!-- key monitoring badges -->
          <div class="shrink-0 basis-1/5 text-center flex justify-center items-center min-w-0 truncate dark:text-white">
            <span>
              {{ keyLog.room_key?.room?.name ?? 'Unknown' }}
            </span>
          </div>

          <!-- key monitoring badges -->
          <div class="shrink-0 basis-1/5 flex flex-col justify-center items-center">
            <!-- returned -->
            <div *ngIf="keyLog.status==='Returned'" class="shrink-0 badge badge-accent">Returned</div>
            <!-- borrowed -->
            <div *ngIf="keyLog.status==='Borrowed'" class="shrink-0 badge bg-[#00359E] border-none">Borrowed</div>
            <!-- lost -->
            <div *ngIf="keyLog.status==='Lost'" class="shrink-0 badge badge-error">Lost</div>
          </div>


          <!-- date and time -->
          <div
               class="min-w-0 basis-1/5 flex flex-row justify-center items-center gap-4 text-gray-500">
            <div class="min-w-0 text-center dark:border-night-200 dark:text-night-100">
              {{keyLog.time_block}}
            </div>
          </div>
        </li>

        <!-- pagination -->
        <div class="w-full sticky bottom-0 flex flex-row items-center justify-center bg-white p-4 border-t dark:bg-night-700 dark:border-night-500
          xl:col-span-2">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </ul>

      <ng-template #noKeylogsReturnedBlock>
        <div>
          <span class="ml-4 dark:text-white">There are no returned keys yet...</span>
        </div>
      </ng-template>
    </div>

    <div id="keylogs-borrowed" class="tab-content">
      <ul *ngIf="keyLogsBorrowed && keyLogsBorrowed.length > 0; else noKeylogsBorrowedBlock"
          class="flex flex-col border-light-dark max-h-[500px] overflow-y-scroll">
        <!-- list header -->
        <div
             class="sticky top-0 flex flex-row items-center text-[12px] border-y px-4 py-4 bg-white  border-gray-300 dark:border-night-500 dark:bg-night-700 dark:text-night-200">
          <div class="basis-2/5">
            <button class="w-fit flex flex-row items-center justify-start gap-2">
              <span>Faculty</span>
              <i class="fa-solid fa-arrow-up"></i>
            </button>
          </div>
          <div class="basis-1/5 flex justify-center items-center">
            <button class="w-fit flex flex-row items-center justify-start gap-2">
              <span>Room</span>
              <i class="fa-solid fa-arrow-up"></i>
            </button>
          </div>
          <div class="basis-1/5 flex justify-center items-center">
            <span>Key Monitoring</span>
          </div>

          <div class="basis-1/5 flex justify-center items-center">
            <button class="w-fit flex flex-row items-center justify-start gap-2">
              <span>Date and Time</span>
              <i class="fa-solid fa-arrow-up"></i>
            </button>
          </div>
        </div>

        <!-- faculty member entries -->
        <li *ngFor="let keyLog of keyLogsBorrowed" class="flex flex-row p-4">
          <!-- members' basic info -->
          <div class="basis-2/5 flex flex-row items-center min-w-0">
            <!-- image -->
            <div [ngClass]="'bg-' + systemService.color + '-700'"
                 class="mr-2 shrink-0 flex items-center justify-center w-12 h-12 rounded-full text-[70px] text-white overflow-hidden">
              <!-- <i class="fa-solid fa-chart-simple"></i> -->
              <img src='assets/avatars/user-profile.png' class="" alt="" />
            </div>

            <!-- name and email -->
            <div class="text-[14px] min-w-0">
              <div class="text-gray-900 min-w-0 truncate dark:text-white">
                {{ keyLog.faculty?.full_name ?? 'Unknown' }}
              </div>
              <div class="text-gray-500 min-w-0 truncate dark:text-night-100">
                {{ keyLog.faculty?.email ?? 'Unknown' }}
              </div>
            </div>
          </div>

          <!-- key monitoring badges -->
          <div class="shrink-0 basis-1/5 text-center flex justify-center items-center min-w-0 truncate dark:text-white">
            <span>
              {{ keyLog.room_key?.room?.name ?? 'unknown' }}
            </span>
          </div>

          <div class="shrink-0 basis-1/5 flex flex-col justify-center items-center">
            <!-- returned -->
            <div *ngIf="keyLog.status==='Returned'" class="shrink-0 badge badge-accent">Returned</div>
            <!-- borrowed -->
            <div *ngIf="keyLog.status==='Borrowed'" class="shrink-0 badge bg-[#00359E] border-none">Borrowed</div>
            <!-- lost -->
            <div *ngIf="keyLog.status==='Lost'" class="shrink-0 badge badge-error">Lost</div>
          </div>


          <!-- date and time -->
          <div
               class="min-w-0 basis-1/5 flex flex-row justify-center items-center gap-4 text-gray-500">
            <div class="min-w-0 text-center dark:border-night-200 dark:text-night-100">
              {{keyLog.time_block}}
            </div>
          </div>
        </li>

        <!-- pagination -->
        <div class="w-full sticky bottom-0 flex flex-row items-center justify-center bg-white p-4 border-t dark:bg-night-700 dark:border-night-500
          xl:col-span-2">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </ul>

      <ng-template #noKeylogsBorrowedBlock>
        <div>
          <span class="ml-4 dark:text-white">There are no borrowed keys yet...</span>
        </div>
      </ng-template>
    </div>

    <div id="keylogs-lost" class="tab-content">
      <ul *ngIf="keyLogsLost && keyLogsLost.length > 0; else noKeylogsLostBlock"
          class="flex flex-col border-light-dark max-h-[500px] overflow-y-scroll">
        <!-- list header -->
        <div
             class="sticky top-0 flex flex-row items-center text-[12px] border-y px-4 py-4 bg-white  border-gray-300 dark:border-night-500 dark:bg-night-700 dark:text-night-200">
          <div class="basis-2/5">
            <button class="w-fit flex flex-row items-center justify-start gap-2">
              <span>Faculty</span>
              <i class="fa-solid fa-arrow-up"></i>
            </button>
          </div>
          <div class="basis-1/5 flex justify-center items-center">
            <button class="w-fit flex flex-row items-center justify-start gap-2">
              <span>Room</span>
              <i class="fa-solid fa-arrow-up"></i>
            </button>
          </div>
          <div class="basis-1/5 flex justify-center items-center">
            <span>Key Monitoring</span>
          </div>

          <div class="basis-1/5 flex justify-center items-center">
            <button class="w-fit flex flex-row items-center justify-start gap-2">
              <span>Date and Time</span>
              <i class="fa-solid fa-arrow-up"></i>
            </button>
          </div>
        </div>

        <!-- faculty member entries -->
        <li *ngFor="let keyLog of keyLogsLost" class="flex flex-row p-4">
          <!-- members' basic info -->
          <div class="basis-2/5 flex flex-row items-center min-w-0">
            <!-- image -->
            <div [ngClass]="'bg-' + systemService.color + '-700'"
                 class="mr-2 shrink-0 flex items-center justify-center w-12 h-12 rounded-full text-[70px] text-white overflow-hidden">
              <!-- <i class="fa-solid fa-chart-simple"></i> -->
              <img src='assets/avatars/user-profile.png' class="" alt="" />
            </div>

            <!-- name and email -->
            <div class="text-[14px] min-w-0">
              <div class="text-gray-900 min-w-0 truncate dark:text-white">
                {{ keyLog.faculty?.full_name ?? 'Unknown' }}
              </div>
              <div class="text-gray-500 min-w-0 truncate dark:text-night-100">
                {{ keyLog.faculty?.email ?? 'Unknown' }}
              </div>
            </div>
          </div>

          <!-- key monitoring badges -->
          <div class="shrink-0 basis-1/5 text-center flex justify-center items-center min-w-0 truncate dark:text-white">
            <span>
              {{ keyLog.room_key?.room?.name ?? 'Unknown' }}
            </span>
          </div>

          <div class="shrink-0 basis-1/5 flex flex-col justify-center items-center">
            <!-- returned -->
            <div *ngIf="keyLog.status==='Returned'" class="shrink-0 badge badge-accent">Returned</div>
            <!-- borrowed -->
            <div *ngIf="keyLog.status==='Borrowed'" class="shrink-0 badge bg-[#00359E] border-none">Borrowed</div>
            <!-- lost -->
            <div *ngIf="keyLog.status==='Lost'" class="shrink-0 badge badge-error">Lost</div>
          </div>


          <!-- date and time -->
          <div
               class="min-w-0 basis-1/5 flex flex-row justify-center items-center gap-4 text-gray-500">
            <div class="min-w-0 text-center dark:border-night-200 dark:text-night-100">
              {{keyLog.time_block}}
            </div>
          </div>
        </li>

        <!-- pagination -->
        <div class="w-full sticky bottom-0 flex flex-row items-center justify-center bg-white p-4 border-t dark:bg-night-700 dark:border-night-500
          xl:col-span-2">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </ul>

      <ng-template #noKeylogsLostBlock>
        <div>
          <span class="ml-4 dark:text-white">There are no keys lost yet...</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
