<div class="inline-block mb-4">
  <h3 class="font-medium text-gray-900 text-2xl dark:text-white">
    Update information
  </h3>
  <div class="space-x-1 text-sm font-medium text-gray-400 dark:text-night-300">
    <p>
      Edit necessary personal details and information needed here.
    </p>
  </div>
</div>

<pre *ngIf="editUserForm">
  {{editUserForm.value|json}}
</pre>


<form class="grid grid-cols-1" *ngIf="editUserForm && user" [formGroup]="editUserForm" (ngSubmit)="onSubmit()"
      novalidate>
  <!-- Separator -->
  <div class="py-6">
    <hr class="border-solid border-gray-200 dark:border-night-500" />
  </div>

  <div class="grid md:grid-cols-4 gap-6">
    <div class="space-x-1 text-sm font-medium text-gray-600 dark:text-night-300">
      <p>Name</p>
    </div>

    <div class="relative">
      <input formControlName="first_name" name="first_name" type="text" id="first_name" class="peer block"
             placeholder=" " />
      <label for="firstname"
             class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-700 dark:bg-night-800 dark:text-night-200">
        First Name
      </label>
    </div>

    <div class="relative">
      <input formControlName="last_name" name="last_name" type="text" id="last_name" class="peer block"
             placeholder=" " />
      <label for="lastname"
             class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-700 dark:bg-night-800 dark:text-night-200">
        Last Name
      </label>
    </div>
  </div>

  <!-- Separator -->
  <div class="py-6">
    <hr class="border-solid border-gray-200 dark:border-night-500" />
  </div>

  <div class="grid md:grid-cols-4 gap-6">
    <div class="space-x-1 text-sm font-medium text-gray-600 dark:text-night-300">
      <p>Email address</p>
    </div>

    <div class="relative col-span-2">
      <input formControlName="email" name="email" type="text" id="email" class="peer block" placeholder=" " />
      <label for="email"
             class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-700 dark:bg-night-800 dark:text-night-200">
        Email address
      </label>
    </div>
  </div>

  <!-- Separator -->
  <div class="py-6">
    <hr class="border-solid border-gray-200 dark:border-night-500" />
  </div>

  <div class="grid md:grid-cols-4 gap-6">
    <div class="space-x-1 text-sm font-medium text-gray-600 dark:text-night-300">
      <p>Contact Number</p>
    </div>

    <div class="relative col-span-2">
      <input formControlName="contact" name="contact" type="text" id="contact" class="peer block"
             placeholder=" " />
      <label for="contact"
             class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-700 dark:bg-night-800 dark:text-night-200">
        Contact Number
      </label>
    </div>
  </div>

  <!-- Separator -->
  <div class="py-6">
    <hr class="border-solid border-gray-200 dark:border-night-500" />
  </div>

  <div class="grid md:grid-cols-4 gap-6">
    <div class="space-x-1 text-sm font-medium text-gray-600 dark:text-night-300">
      <p>Password</p>
    </div>

    <div class="relative col-span-2">
      <input formControlName="password" name="password" type="password" id="password" class="peer block"
             placeholder=" " />
      <label for="password"
             class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-700 dark:bg-night-800 dark:text-night-200">
        Password
      </label>
    </div>
  </div>

  <!-- Separator -->
  <div class="py-6">
    <hr class="border-solid border-gray-200 dark:border-night-500" />
  </div>

  <div class="grid md:grid-cols-4 gap-6">
    <div class="space-x-1 text-sm font-medium text-gray-600 dark:text-night-300">
      <p>Confirm Password</p>
    </div>

    <div class="relative col-span-2">
      <input formControlName="password_confirmation" name="password_confirmation" type="password"
             id="password_confirmation" class="peer block" placeholder=" " />
      <label for="confirmpassword"
             class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-700 dark:bg-night-800 dark:text-night-200">
        Confirm Password
      </label>
    </div>
    <button class="button-size w-48" [ngClass]="'bg-' + systemService.color + '-700 hover:bg-' + systemService.color + '-600 border-' + systemService.color + '-700'">
      Reset Password
    </button>
  </div>

  <!-- Separator -->
  <div class="py-6">
    <hr class="border-solid border-gray-200 dark:border-night-500" />
  </div>

  <div class="grid md:grid-cols-4 gap-6">
    <div class="space-x-1 text-sm font-medium text-gray-600 dark:text-night-300">
      <p>Position</p>
    </div>

    <div class="relative col-span-2">
      <select formControlName="position" name="position" id="position" class="peer block">
        <option *ngFor="let option of user_positions" [selected]="option===user.position">
          {{option}}
        </option>
      </select>
    </div>
  </div>

  <!-- Separator -->
  <div class="py-6">
    <hr class="border-solid border-gray-200 dark:border-night-500" />
  </div>

  <div class="grid md:grid-cols-4 gap-6">
    <div class="space-x-1 text-sm font-medium text-gray-600 dark:text-night-300">
      <p>College</p>
    </div>

    <div class="relative col-span-2">
      <select name="college" id="college" class="peer block" disabled>
        <option *ngFor="let option of colleges" [selected]="option===user.college">
          {{option}}
        </option>
      </select>
    </div>
  </div>

  <!-- Separator -->
  <div class="py-6">
    <hr class="border-solid border-gray-200 dark:border-night-500" />
  </div>

  <div class="grid md:grid-cols-4 gap-6">
    <div class="space-x-1 text-sm font-medium text-gray-600 dark:text-night-300">
      <p>Account Type</p>
    </div>

    <div class="relative col-span-2">
      <select formControlName="type" name="type" id="type" class="peer block">
        <option *ngFor="let option of account_types" [selected]="option===user.type">
          {{option}}
        </option>
      </select>
    </div>
  </div>

  <!-- Separator -->
  <div class="py-6">
    <hr class="border-solid border-gray-200 dark:border-night-500" />
  </div>

  <div class="flex items-center justify-end space-x-3">
    <button type="reset"
            class="relative mb-10 flex w-20 justify-center button-plain">
      Cancel
    </button>
    <button type="submit"
            class="relative mb-10 flex w-20 justify-center button-size" [ngClass]="'bg-' + systemService.color + '-700 hover:bg-' + systemService.color + '-600 border-' + systemService.color + '-700'">
      Save
    </button>
  </div>
</form>
