<div class="mx-8">
  <div class="flex justify-center items-center py-6">
    <img class="h-10 w-auto mr-2" src="assets/icons/CICT Logo.png" alt="Logo">
    <h1 class="text-lg font-semibold text-gray-800">College of Information and Communications Technology</h1>
  </div>
  <table class="w-full text-left">
    <thead class="text-xs text-gray-400">
      <tr>
        <th class="py-2 px-2 text-left font-medium w-60">Semester</th>
        <th class="py-2 px-2 text-left font-medium w-60">Academic Year</th>
        <th class="py-2 px-2 text-left font-medium w-60">First Name</th>
        <th class="py-2 px-2 text-left font-medium w-60">Last Name</th>
        <th class="py-2 px-2 text-left font-medium w-60">Email</th>
        <th class="py-2 px-2 text-left font-medium w-60">Status</th>
        <th class="py-2 px-2 text-left font-medium w-60">Created</th>
        <th class="py-2 px-2 text-left font-medium w-60">Room</th>
        <th class="py-2 px-2 text-left font-medium w-60">Subject Code</th>
        <th class="py-2 px-2 text-left font-medium w-60">Subject</th>
      </tr>
    </thead>
    <tbody class="report-page">
      <tr *ngFor="let index of [1,2,3,4,5,6,7,8,9,10]">
        <td class="py-2 pl-2">
          <span class="text-sm font-medium text-gray-800">
            2nd Semester
          </span>
        </td>
        <td class="py-2 pl-2">
          <span class="text-sm font-medium text-gray-800">
            AY 2022-2023
          </span>
        </td>
        <td class="py-2 pl-2">
          <span class="text-sm font-medium text-gray-800">
            Allen Vincent
          </span>
        </td>
        <td class="py-2 pl-2">
          <span class="text-sm font-medium text-gray-800">
            Buning
          </span>
        </td>
        <td class="py-2 pl-2">
          <span class="text-sm font-medium text-gray-800">
            allenvincentbuning@gmail.com
          </span>
        </td>
        <td class="py-2 pl-2">
          <span class="text-sm font-medium text-gray-800">
            Active
          </span>
        </td>
        <td class="py-2 pl-2">
          <span class="text-sm font-medium text-gray-800">
            2023-05-04T06:31:59.000000Z
          </span>
        </td>
        <td class="py-2 pl-2">
          <span class="text-sm font-medium text-gray-800">
           CT 1
          </span>
        </td>
        <td class="py-2 pl-2">
          <span class="text-sm font-medium text-gray-800">
           IT 101
          </span>
        </td>
        <td class="py-2 pl-2">
          <span class="text-sm font-medium text-gray-800">
            Computer Programming 1
          </span>
        </td>

      </tr>



      </tbody>
    </table>


 </div>
