<div class="flex flex-col">
  <!-- title bar -->
  <div class="sticky top-0 flex flex-col gap-4 px-4 py-8 bg-white dark:bg-night-800 rounded-tl-[32px]">
    <span *ngIf="roomName" class="text-[24px] text-gray-900 font-medium dark:text-white">
      Faculty Schedule for {{roomName}}
    </span>
    <div class="flex flex-row gap-2 items-center justify-start">
      <a href="#room-schedule" class="button-plain tab-link active1">Room Schedule</a>
      <a href="#assigned-faculty" class="button-plain tab-link">Assigned Faculty</a>
    </div>
  </div>

  <!-- room schedule -->
  <div id="room-schedule" class="tab-content active">
    <div *ngIf="false" class="flex flex-col gap-4 items-center w-full xl:col-span-2">
      <div class="p-4 border-light-dark w-full dark:text-white">
        <span>Room Schedule for IT 1</span>
      </div>

      <div class="flex flex-row justify-around p-4 w-full max-w-xl dark:text-white">
        <button class="button-colored">Mon</button>
        <button class="">Tue</button>
        <button class="">Wed</button>
        <button class="">Thu</button>
        <button class="">Fri</button>
        <button class="">Sat</button>
        <button class="">Sun</button>
      </div>
    </div>

    <ul *ngIf="schedules; else noRoomScheduleBlock" class="grid grid-cols-1 gap-4 items-center px-4 place-items-center xl:grid-cols-2 xl:pb-4">
      <li *ngFor="let schedule of schedules"
          class="border-light-dark rounded-lg mx-4 w-full max-w-4xl overflow-hidden last:mb-4 xl:last:mb-0">
        <!-- card-title -->
        <div [routerLink]="['/attendance-check/check-attendance',schedule.id]"
             class="flex flex-row gap-4 p-4 justify-between border-b cursor-pointer hover:bg-gray-100 transition-colors dark:border-night-500 dark:hover:bg-night-500">
          <!-- icon -->
          <div [ngClass]="'bg-' + systemService.color + '-700'"
               class="shrink-0 flex items-center justify-center w-12 h-12 rounded-full text-[32px] text-white">
            <span class="material-icons">
              meeting_room
            </span>
          </div>

          <div class="grow flex flex-col gap-0">
            <span class="text-gray-700 text-[16px] font-bold dark:text-white">
              {{schedule.subject?.code}} ({{schedule.subject?.title}})
            </span>
            <span class="text-gray-500 text-[14px] dark:text-night-100">
              Faculty Assigned: {{schedule.adviser?.full_name}}
            </span>
            <span class="text-gray-500 text-[14px] dark:text-night-100">
              Schedule: {{schedule.time_start}} - {{schedule.time_end}}
            </span>
          </div>
        </div>

        <!-- card-footer -->
        <div *ngIf="false" class="flex justify-between items-center p-4">
          <span class="text-gray-500 text-[14px]">Is the assigned faculty present?</span>
          <div class="flex flex-row items-center justify-end gap-4">
            <label for="absent-modal"
                   class="button-plain btn-error w-fit transition-colors text-white hover:bg-red-700">
              Mark as absent
            </label>
            <button [routerLink]="['/attendance-check/check-attendance']"
                    class="button-plain btn-success w-fit transition-colors text-white hover:bg-green-700">
              Mark as present
            </button>
          </div>

          <!-- <button class="button-plain w-fit">Undo Attendance</button> -->
        </div>
      </li>

      <!-- pagination -->
      <div class="w-full sticky bottom-0 flex flex-row items-center justify-center bg-white p-4 border-t dark:bg-night-700 dark:border-night-500
        xl:col-span-2">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </ul>

    <ng-template #noRoomScheduleBlock>
      <div>
        <span class="ml-4 dark:text-white">There are no room schedules yet...</span>
      </div>
    </ng-template>
  </div>

  <!-- assigned faculty -->
  <div id="assigned-faculty" class="tab-content">
    <ul *ngIf="schedules; else noAssignedFacultyBlock" class="grid grid-cols-1 gap-4 items-center px-4 place-items-center xl:grid-cols-2">
      <li *ngFor="let schedule of schedules"
          class="border-light-dark rounded-lg mx-4 w-full max-w-4xl overflow-hidden last:mb-4 xl:last:mb-0">
        <!-- card-title -->
        <div [routerLink]="['/attendance-check/check-attendance',schedule.id]"
             class="flex flex-row gap-4 p-4 justify-between border-b cursor-pointer transition-colors dark:border-night-500 dark:hover:bg-night-500 hover:bg-gray-100">
          <!-- icon -->
          <div [ngClass]="'bg-' + systemService.color + '-700'"
            class="shrink-0 flex items-center justify-center w-12 h-12 rounded-full text-[32px] text-white">
            <img src='assets/avatars/user-profile.png' class="" alt="" />
          </div>

          <div class="grow flex flex-col gap-0">
            <span class="text-gray-700 text-[16px] font-bold dark:text-white">
              {{schedule.adviser?.full_name}}
            </span>
            <span class="text-gray-500 text-[14px] dark:text-night-100">
              Subject: {{schedule.adviser?.full_name}}
            </span>
            <span class="text-gray-500 text-[14px] dark:text-night-100">
              Schedule: {{schedule.time_start}} - {{schedule.time_end}}
            </span>
          </div>
        </div>
      </li>

      <!-- pagination -->
      <div class="w-full sticky bottom-0 flex flex-row items-center justify-center bg-white p-4 border-t dark:bg-night-700 dark:border-night-500
        xl:col-span-2">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </ul>

    <ng-template #noAssignedFacultyBlock>
      <div>
        <span class="ml-4 dark:text-white">There are no assigned faculties yet...</span>
      </div>
    </ng-template>
  </div>
</div>

<!-- Put this part before </body> tag -->
<input type="checkbox" id="absent-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Mark as absent</h3>
    <p class="py-4">Do you want to mark first_name last_name as absent?</p>
    <div class="modal-action">
      <label for="absent-modal" class="button-plain w-fit">Cancel</label>
      <label for="absent-modal" class="button-plain btn-error w-fit transition-colors text-white hover:bg-red-700">Mark
        as absent</label>
    </div>
  </div>
</div>
