<div class="flex min-h-[120px] flex-col rounded-lg border-gray-200 dark:border-night-500 border bg-white p-5 dark:bg-night-700 sm:flex-row md:col-span-3">
    <div class="mt-4 flex flex-1 flex-col justify-between space-y-1 md:mt-0">
        <div class="mb-4 flex items-center justify-between">
            <div class="flex-col items-center">
              <h3 class="text-md font-medium text-gray-900 dark:text-night-50">Room Keys</h3>
            </div>
            <button
              class="flex-none button-plain">
              View Rooms
            </button>
          </div>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-6 lg:grid-cols-5 xl:grid-cols-6">

            <!-- start key card -->
            <div class="border-gray-200 dark:border-night-500 border flex min-h-[120px] flex-col rounded-lg bg-white p-5 dark:bg-night-700 sm:flex-row md:col-span-1">
                <div class="mt-4 flex items-center flex-1 flex-col justify-between space-y-1 md:mt-0">

                    <div class="flex items-center rounded-full bg-primary-700 w-20 h-20 text-xs font-semibold text-white">
                        <i class="fa-solid fa-key text-4xl mx-auto"></i>
                      </div>

                        <span class="text-xl font-semibold text-gray-900 dark:text-white">IT1</span>
                        <div class="flex items-center rounded-md bg-green-500/25 py-1 pr-2 pl-2 text-xs font-semibold text-[#12B76A] bg-[#ECFDF3]">
                          In Use
                        </div>
                </div>
            </div>
            <!-- end key card -->
            <!-- start key card -->
            <div class="border-gray-200 dark:border-night-500 border flex min-h-[120px] flex-col rounded-lg bg-white p-5 dark:bg-night-700 sm:flex-row md:col-span-1">
                <div class="mt-4 flex items-center flex-1 flex-col justify-between space-y-1 md:mt-0">

                    <div class="flex items-center rounded-full bg-primary-700 w-20 h-20 text-xs font-semibold text-white">
                        <i class="fa-solid fa-key text-4xl mx-auto"></i>
                      </div>

                        <span class="text-xl font-semibold text-gray-900 dark:text-white">IT1</span>
                        <div class="flex items-center rounded-md bg-green-500/25 py-1 pr-2 pl-2 text-xs font-semibold text-[#12B76A] bg-[#ECFDF3]">
                          In Use
                        </div>
                </div>
            </div>
            <!-- end key card -->
            <!-- start key card -->
            <div class="border-gray-200 dark:border-night-500 border flex min-h-[120px] flex-col rounded-lg bg-white p-5 dark:bg-night-700 sm:flex-row md:col-span-1">
                <div class="mt-4 flex items-center flex-1 flex-col justify-between space-y-1 md:mt-0">

                    <div class="flex items-center rounded-full bg-primary-700 w-20 h-20 text-xs font-semibold text-white">
                        <i class="fa-solid fa-key text-4xl mx-auto"></i>
                      </div>

                        <span class="text-xl font-semibold text-gray-900 dark:text-white">IT1</span>
                        <div class="flex items-center rounded-md bg-green-500/25 py-1 pr-2 pl-2 text-xs font-semibold text-[#12B76A] bg-[#ECFDF3]">
                          In Use
                        </div>
                </div>
            </div>
            <!-- end key card -->
            <!-- start key card -->
            <div class="border-gray-200 dark:border-night-500 border flex min-h-[120px] flex-col rounded-lg bg-white p-5 dark:bg-night-700 sm:flex-row md:col-span-1">
                <div class="mt-4 flex items-center flex-1 flex-col justify-between space-y-1 md:mt-0">

                    <div class="flex items-center rounded-full bg-primary-700 w-20 h-20 text-xs font-semibold text-white">
                        <i class="fa-solid fa-key text-4xl mx-auto"></i>
                      </div>

                        <span class="text-xl font-semibold text-gray-900 dark:text-white">IT1</span>
                        <div class="flex items-center rounded-md bg-green-500/25 py-1 pr-2 pl-2 text-xs font-semibold text-[#12B76A] bg-[#ECFDF3]">
                          In Use
                        </div>
                </div>
            </div>
            <!-- end key card -->
            <!-- start key card -->
            <div class="border-gray-200 dark:border-night-500 border flex min-h-[120px] flex-col rounded-lg bg-white p-5 dark:bg-night-700 sm:flex-row md:col-span-1">
                <div class="mt-4 flex items-center flex-1 flex-col justify-between space-y-1 md:mt-0">

                    <div class="flex items-center rounded-full bg-primary-700 w-20 h-20 text-xs font-semibold text-white">
                        <i class="fa-solid fa-key text-4xl mx-auto"></i>
                      </div>

                        <span class="text-xl font-semibold text-gray-900 dark:text-white">IT1</span>
                        <div class="flex items-center rounded-md bg-green-500/25 py-1 pr-2 pl-2 text-xs font-semibold text-[#12B76A] bg-[#ECFDF3]">
                          In Use
                        </div>
                </div>
            </div>
            <!-- end key card -->
            <!-- start key card -->
            <div class="border-gray-200 dark:border-night-500 border flex min-h-[120px] flex-col rounded-lg bg-white p-5 dark:bg-night-700 sm:flex-row md:col-span-1">
                <div class="mt-4 flex items-center flex-1 flex-col justify-between space-y-1 md:mt-0">

                    <div class="flex items-center rounded-full bg-primary-700 w-20 h-20 text-xs font-semibold text-white">
                        <i class="fa-solid fa-key text-4xl mx-auto"></i>
                      </div>

                        <span class="text-xl font-semibold text-gray-900 dark:text-white">IT1</span>
                        <div class="flex items-center rounded-md bg-green-500/25 py-1 pr-2 pl-2 text-xs font-semibold text-[#12B76A] bg-[#ECFDF3]">
                          In Use
                        </div>
                </div>
            </div>
            <!-- end key card -->
            <!-- start key card -->
            <div class="border-gray-200 dark:border-night-500 border flex min-h-[120px] flex-col rounded-lg bg-white p-5 dark:bg-night-700 sm:flex-row md:col-span-1">
                <div class="mt-4 flex items-center flex-1 flex-col justify-between space-y-1 md:mt-0">

                    <div class="flex items-center rounded-full bg-primary-700 w-20 h-20 text-xs font-semibold text-white">
                        <i class="fa-solid fa-key text-4xl mx-auto"></i>
                      </div>

                        <span class="text-xl font-semibold text-gray-900 dark:text-white">IT1</span>
                        <div class="flex items-center rounded-md bg-green-500/25 py-1 pr-2 pl-2 text-xs font-semibold text-[#12B76A] bg-[#ECFDF3]">
                          In Use
                        </div>
                </div>
            </div>
            <!-- end key card -->
            <!-- start key card -->
            <div class="border-gray-200 dark:border-night-500 border flex min-h-[120px] flex-col rounded-lg bg-white p-5 dark:bg-night-700 sm:flex-row md:col-span-1">
                <div class="mt-4 flex items-center flex-1 flex-col justify-between space-y-1 md:mt-0">

                    <div class="flex items-center rounded-full bg-primary-700 w-20 h-20 text-xs font-semibold text-white">
                        <i class="fa-solid fa-key text-4xl mx-auto"></i>
                      </div>

                        <span class="text-xl font-semibold text-gray-900 dark:text-white">IT1</span>
                        <div class="flex items-center rounded-md bg-green-500/25 py-1 pr-2 pl-2 text-xs font-semibold text-[#12B76A] bg-[#ECFDF3]">
                          In Use
                        </div>
                </div>
            </div>
            <!-- end key card -->
            <!-- start key card -->
            <div class="border-gray-200 dark:border-night-500 border flex min-h-[120px] flex-col rounded-lg bg-white p-5 dark:bg-night-700 sm:flex-row md:col-span-1">
                <div class="mt-4 flex items-center flex-1 flex-col justify-between space-y-1 md:mt-0">

                    <div class="flex items-center rounded-full bg-primary-700 w-20 h-20 text-xs font-semibold text-white">
                        <i class="fa-solid fa-key text-4xl mx-auto"></i>
                      </div>

                        <span class="text-xl font-semibold text-gray-900 dark:text-white">IT1</span>
                        <div class="flex items-center rounded-md bg-green-500/25 py-1 pr-2 pl-2 text-xs font-semibold text-[#12B76A] bg-[#ECFDF3]">
                          In Use
                        </div>
                </div>
            </div>
            <!-- end key card -->
            <!-- start key card -->
            <div class="border-gray-200 dark:border-night-500 border flex min-h-[120px] flex-col rounded-lg bg-white p-5 dark:bg-night-700 sm:flex-row md:col-span-1">
                <div class="mt-4 flex items-center flex-1 flex-col justify-between space-y-1 md:mt-0">

                    <div class="flex items-center rounded-full bg-primary-700 w-20 h-20 text-xs font-semibold text-white">
                        <i class="fa-solid fa-key text-4xl mx-auto"></i>
                      </div>

                        <span class="text-xl font-semibold text-gray-900 dark:text-white">IT1</span>
                        <div class="flex items-center rounded-md bg-green-500/25 py-1 pr-2 pl-2 text-xs font-semibold text-[#12B76A] bg-[#ECFDF3]">
                          In Use
                        </div>
                </div>
            </div>
            <!-- end key card -->
            <!-- start key card -->
            <div class="border-gray-200 dark:border-night-500 border flex min-h-[120px] flex-col rounded-lg bg-white p-5 dark:bg-night-700 sm:flex-row md:col-span-1">
                <div class="mt-4 flex items-center flex-1 flex-col justify-between space-y-1 md:mt-0">

                    <div class="flex items-center rounded-full bg-primary-700 w-20 h-20 text-xs font-semibold text-white">
                        <i class="fa-solid fa-key text-4xl mx-auto"></i>
                      </div>

                        <span class="text-xl font-semibold text-gray-900 dark:text-white">IT1</span>
                        <div class="flex items-center rounded-md bg-green-500/25 py-1 pr-2 pl-2 text-xs font-semibold text-[#12B76A] bg-[#ECFDF3]">
                          In Use
                        </div>
                </div>
            </div>
            <!-- end key card -->
            <!-- start key card -->
            <div class="border-gray-200 dark:border-night-500 border flex min-h-[120px] flex-col rounded-lg bg-white p-5 dark:bg-night-700 sm:flex-row md:col-span-1">
                <div class="mt-4 flex items-center flex-1 flex-col justify-between space-y-1 md:mt-0">

                    <div class="flex items-center rounded-full bg-primary-700 w-20 h-20 text-xs font-semibold text-white">
                        <i class="fa-solid fa-key text-4xl mx-auto"></i>
                      </div>

                        <span class="text-xl font-semibold text-gray-900 dark:text-white">IT1</span>
                        <div class="flex items-center rounded-md bg-green-500/25 py-1 pr-2 pl-2 text-xs font-semibold text-[#12B76A] bg-[#ECFDF3]">
                          In Use
                        </div>
                </div>
            </div>
            <!-- end key card -->


        </div>







    </div>
</div>

