<div class="grid grid-cols-1 rounded-t-lg border-light-dark bg-white p-5 dark:bg-night-700">
    <div class="flex justify-between">
        <div class="flex md:items-center items-start flex-col md:flex-row justify-between">
            <h3 class="text-lg font-medium text-gray-900 dark:text-white mr-3">Users</h3>
            <div *ngIf="user_pagination?.meta?.total"
                class="rounded-xl bg-primary-300/25 py-1 px-2 text-xs font-medium text-primary-700 dark:text-primary-300">
                {{user_pagination?.meta?.total}} total users
            </div>
        </div>
        <div class="flex items-center space-x-3">
            <button (click)="printThisPage()" type="button"
                class="flex items-center justify-center rounded-md button-plain">
                <span class="material-symbols-rounded h-6 w-6 md:mr-2 mr-0">
                    print
                </span>
                <span class="hidden md:inline-block">
                    Print
                </span>

            </button>
            <button type="button" [routerLink]="['/user/add-user']"
                class="flex items-center justify-center rounded-md button-size" [ngClass]="'bg-' + systemService.color + '-700 hover:bg-' + systemService.color + '-600 border-' + systemService.color + '-700'">
                <span class="material-symbols-rounded h-6 w-6 md:mr-2 mr-0">
                    add
                </span>
                <span class="hidden md:inline-block">
                    Add User
                </span>
            </button>

            <button type="button" [routerLink]="['/user/deleted-user']"
                class="flex items-center justify-center rounded-md button-plain">
                <span class="material-symbols-rounded h-6 w-6">
                  auto_delete
                </span>
            </button>

        </div>
    </div>
</div>

<div #content class="grid grid-cols-1 border-x border-gray-300 dark:border-night-500 bg-white p-5 dark:bg-night-700">
    <app-user-table [pagination]="user_pagination"></app-user-table>
</div>

<div class="grid grid-cols-1 rounded-b-lg border-light-dark bg-white p-5 dark:bg-night-700">


    <div class="flex items-center justify-between space-x-3">


        <button type="button" [disabled]="!user_pagination?.links?.prev"
        class="flex items-center justify-center rounded-md button-plain">
        <span class="material-symbols-rounded h-6 w-6 md:mr-2 mr-0">
            arrow_back
        </span>
        <span class="md:inline-block hidden">
            Previous
        </span>
        </button>

        <div class="flex gap-1" *ngIf="isMultiPage">
            <div *ngFor="let page of pageMaxCount()"
                class="cursor-pointer relative justify-center rounded-md py-2 px-4 text-sm font-medium dark:text-primary-300 text-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 bg-primary-300/25">
                1
            </div>

        </div>

      <button type="button" [disabled]="!user_pagination?.links?.next"
      class="flex items-center justify-center rounded-md button-plain">
      <span class="md:inline-block hidden">
          Next
      </span>

      <span class="material-symbols-rounded h-6 w-6 md:ml-2 ml-0">
          arrow_forward
      </span>
        </button>

    </div>

</div>
