<div class="flex flex-col">
  <!-- title bar -->
  <div class="flex flex-col gap-4 px-4 py-8">
    <span class="text-[24px] text-gray-900 font-medium dark:text-white">
      Attendance Management
    </span>
    <button type="button" [routerLink]="['/attendance-check/attendance-monitoring']"
            class="button-plain w-fit">
      Attendance Monitoring
    </button>
  </div>

  <div class="flex flex-col gap-4 xl:flex-row xl:gap-2">
    <!-- attendance breakdown -->
    <div class="flex flex-col border-light-dark rounded-lg mx-4 xl:basis-1/2 xl:mr-2">
      <!-- card-title -->
      <div class="flex flex-row gap-4 p-4 justify-between border-b border-gray-300 dark:border-night-500">
        <!-- icon -->
        <span [ngClass]="'bg-' + systemService.color + '-700'"
          class="shrink-0 flex items-center justify-center w-12 h-12 rounded-full text-[32px] text-white">
          <i class="fa-solid fa-chart-simple"></i>
        </span>

        <!-- title and description -->
        <div class="grow flex flex-col gap-0">
          <span class="text-gray-700 text-[16px] font-bold dark:text-white">Attendance breakdown</span>
          <span class="text-gray-500 text-[14px]">Keep track the attendance of faculty if present or absent.</span>
        </div>

        <!-- triple dot -->
        <button class="shrink-0 h-5 w-5">
          <i class="fa-solid fa-ellipsis-vertical w-full h-full"></i>
        </button>
      </div>

      <!-- place chart here -->
      <div class="border-b border-gray-300 dark:border-night-500 xl:grow">
        <div chart-card-column class></div>
      </div>

      <!-- card-footer -->
      <div class="flex justify-end items-center p-4">
        <button class="button-plain w-fit">View Full Report</button>
      </div>
    </div>

    <!-- attendance monitored -->
    <div *ngIf="attendancesStatistics" class="flex flex-col border-light-dark rounded-lg mx-4 xl:basis-1/2 xl:ml-2">
      <!-- card-title -->
      <div class="flex flex-row gap-4 p-4 justify-between border-b border-gray-300 dark:border-night-500">
        <!-- title and description -->
        <div class="grow flex flex-col gap-0">
          <span class="text-gray-700 text-[16px] font-bold dark:text-white">
            Attendance monitored
          </span>
          <span class="text-gray-500 text-[14px]">
            You’re able to monitor {{attendancesStatistics.monitored_percentage}}% of the attendance
          </span>
        </div>

        <!-- triple dot -->
        <button class="shrink-0 h-5 w-5">
          <i class="fa-solid fa-ellipsis-vertical w-full h-full"></i>
        </button>
      </div>

      <!-- place chart here -->
      <div class="grow justify-center flex flex-col gap-4 p-6 border-b border-gray-300 dark:border-night-500">
        <div class="flex flex-row justify-center items-end">
          <div class="radial-progress text-green-400"
               style="--value:{{attendancesStatistics.monitored_percentage}}; --size:10rem;">
            <span class="text-black text-[30px] dark:text-night-200">
              {{attendancesStatistics.monitored}}
            </span>
          </div>
          <div *ngIf="false" class="shrink-0 badge badge-accent">+12%</div>
        </div>

        <div class="">
          <div class="text-gray-900 text-[16px] dark:text-white">You are almost done with the monitoring!</div>
          <div class="text-gray-500 text-[14px]">You have already monitored
            {{attendancesStatistics.monitored_percentage}}% of the faculty keep going!</div>
        </div>
      </div>

      <!-- card-footer -->
      <div class="flex justify-end items-center p-4">
        <button [routerLink]="['/attendance-check/attendance-monitoring']"
                class="flex justify-center items-center gap-2 button-plain w-fit">
          <span>
            <i class="fa-solid fa-chevron-right"></i>
            <i class="fa-solid fa-chevron-right"></i>
          </span>
          <span>Proceed to monitoring</span>
        </button>
      </div>
    </div>
  </div>

  <!-- faculty members -->
  <div class="flex flex-col gap-4 pt-8 justify-between">
    <!-- title and description -->
    <div class="grow flex flex-col mx-4 gap-0">
      <span class="text-gray-700 text-[16px] font-bold dark:text-white">Faculty Members</span>
      <span class="text-gray-500 text-[14px]">Keep track the attendance of the faculty.</span>
    </div>

    <!-- search bar and filter buttons-->
    <div class="flex flex-col mx-4 gap-2 xl:flex-row-reverse xl:items-center">
      <!-- search bar row -->
      <div class="flex flex-row gap-2 mb-2 xl:grow xl:mb-0">
        <div class="grow border-light-dark rounded-lg flex flex-row justify-start items-center px-2">
          <i class="fa-solid fa-magnifying-glass dark:text-night-200"></i>
          <input class="border-none" type="text" name="faculty-member-search" id="faculty-member-search"
                 placeholder="Search">
        </div>

        <button class="shrink-0 button-plain w-fit"
                type="submit">
          <i class="fa-solid fa-filter"></i>
        </button>
      </div>

      <div class="flex flex-row gap-2 items-center">
        <a href="#view-all" class="button-plain tab-link active1">View All</a>
        <a href="#monitored" class="button-plain tab-link">Monitored</a>
        <a href="#unmonitored" class="button-plain tab-link">Unmonitored</a>
      </div>
    </div>

    <div id="view-all" class="tab-content active">
      <ul *ngIf="schedules; else noSchedulesBlock" 
        class="flex flex-col border-light-dark max-h-[500px] overflow-y-scroll xl:max-h-[700px]">
        <!-- list header -->
        <div
             class="sticky top-0 flex flex-row items-center text-[12px] border-y px-4 py-4 bg-white  border-gray-300 dark:border-night-500 dark:bg-night-700 dark:text-night-200">
          <div class="basis-2/5">
            <button class="w-fit flex flex-row items-center justify-start gap-2">
              <span>A-Z</span>
              <i class="fa-solid fa-arrow-up"></i>
            </button>
          </div>
          <span class="basis-2/5 text-center">Attendance</span>
          <!-- this is a space for the action column -->
          <span class="basis-1/5"></span>
        </div>


        <!-- faculty member entries -->
        <li *ngFor="let schedule of schedules" class="flex flex-row p-4">
          <!-- members' basic info -->
          <div class="basis-2/5 flex flex-row items-center min-w-0">
            <!-- image -->
            <div [ngClass]="'bg-' + systemService.color + '-700'"
              class="mr-2 shrink-0 flex items-center justify-center w-12 h-12 rounded-full text-[70px] text-white overflow-hidden">
              <i class="fa-solid fa-chart-simple"></i>
            </div>

            <!-- name and email -->
            <div class="text-[14px] min-w-0">
              <div class="text-gray-900 min-w-0 truncate dark:text-white">
                {{schedule.adviser?.full_name}}
              </div>
              <div class="text-gray-500 min-w-0 truncate">
                {{schedule.adviser?.email}}
              </div>
            </div>
          </div>

          <!-- attendance -->
          <div class="shrink-0 basis-2/5 flex justify-center items-center">
            <!-- present -->
            <div *ngIf="checkAttendanceStatus(schedule,'present')" class="shrink-0 badge badge-accent">
              Present
            </div>
            <!-- absent -->
            <div *ngIf="checkAttendanceStatus(schedule,'absent')" class="shrink-0 badge badge-secondary">
              Absent
            </div>
            <!-- no action taken -->
            <div *ngIf="checkAttendanceStatus(schedule,'NaT')"
                 class="shrink-0 badge badge-outline dark:border-night-200 dark:text-night-200">
              No action taken
            </div>
          </div>

          <!-- actions -->
          <div
               class="shrink-0 basis-1/5 flex flex-row justify-center items-center gap-4 text-gray-500 dark:text-night-200">
            <!-- The button to open modal -->
            <label for="delete-modal" class="cursor-pointer">
              <span class="material-icons">
                delete
              </span>
            </label>
            <button>
              <span class="material-icons">
                edit
              </span>
            </button>
          </div>
        </li>

        <!-- pagination -->
        <div class="bottom-0 sticky flex flex-row items-center justify-center bg-white p-4 border-t border-gray-300
        dark:border-night-500 dark:bg-night-700">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </ul>

      <ng-template #noSchedulesBlock>
        <div class="flex justify-center items-center">
          <span class="dark:text-white">
            There are no entries yet...
          </span>
        </div>
      </ng-template>
    </div>

    <div id="monitored" class="tab-content">
      <ul *ngIf="schedules; else noSchedulesBlock"
        class="flex flex-col border-light-dark max-h-[500px] overflow-y-scroll xl:max-h-[700px]">
        <!-- list header -->
        <div
             class="sticky top-0 flex flex-row items-center text-[12px] border-y px-4 py-4 bg-white  border-gray-300 dark:border-night-500 dark:bg-night-700 dark:text-night-200">
          <div class="basis-2/5">
            <button class="w-fit flex flex-row items-center justify-start gap-2">
              <span>A-Z</span>
              <i class="fa-solid fa-arrow-up"></i>
            </button>
          </div>
          <span class="basis-2/5 text-center">Attendance</span>
          <!-- this is a space for the action column -->
          <span class="basis-1/5"></span>
        </div>


        <!-- faculty member entries -->
        <li *ngFor="let schedule of filterMonitoredAttendances(true)" class="flex flex-row p-4">
          <!-- members' basic info -->
          <div class="basis-2/5 flex flex-row items-center min-w-0">
            <!-- image -->
            <div [ngClass]="'bg-' + systemService.color + '-700'"
              class="mr-2 shrink-0 flex items-center justify-center w-12 h-12 rounded-full text-[70px] text-white overflow-hidden">
              <i class="fa-solid fa-chart-simple"></i>
            </div>

            <!-- name and email -->
            <div class="text-[14px] min-w-0">
              <div class="text-gray-900 min-w-0 truncate dark:text-white">
                {{schedule.adviser?.full_name}}
              </div>
              <div class="text-gray-500 min-w-0 truncate">
                {{schedule.adviser?.email}}
              </div>
            </div>
          </div>

          <!-- attendance -->
          <div class="shrink-0 basis-2/5 flex justify-center items-center">
            <!-- present -->
            <div *ngIf="checkAttendanceStatus(schedule,'present')" class="shrink-0 badge badge-accent">
              Present
            </div>
            <!-- absent -->
            <div *ngIf="checkAttendanceStatus(schedule,'absent')" class="shrink-0 badge badge-secondary">
              Absent
            </div>
            <!-- no action taken -->
            <div *ngIf="checkAttendanceStatus(schedule,'NaT')"
                 class="shrink-0 badge badge-outline dark:border-night-200 dark:text-night-200">
              No action taken
            </div>
          </div>

          <!-- actions -->
          <div
               class="shrink-0 basis-1/5 flex flex-row justify-center items-center gap-4 text-gray-500 dark:text-night-200">
            <!-- The button to open modal -->
            <label for="delete-modal" class="cursor-pointer">
              <span class="material-icons">
                delete
              </span>
            </label>
            <button>
              <span class="material-icons">
                edit
              </span>
            </button>
          </div>
        </li>

        <!-- pagination -->
        <div class="bottom-0 sticky flex flex-row items-center justify-center bg-white p-4 border-t border-gray-300
        dark:border-night-500 dark:bg-night-700">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </ul>

      <ng-template #noSchedulesBlock>
        <div class="flex justify-center items-center">
          <span class="dark:text-white">
            There are no entries yet...
          </span>
        </div>
      </ng-template>
    </div>

    <div id="unmonitored" class="tab-content">
      <ul *ngIf="schedules; else noSchedulesBlock"
        class="flex flex-col border-light-dark max-h-[500px] overflow-y-scroll xl:max-h-[700px]">
        <!-- list header -->
        <div
             class="sticky top-0 flex flex-row items-center text-[12px] border-y px-4 py-4 bg-white  border-gray-300 dark:border-night-500 dark:bg-night-700 dark:text-night-200">
          <div class="basis-2/5">
            <button class="w-fit flex flex-row items-center justify-start gap-2">
              <span>A-Z</span>
              <i class="fa-solid fa-arrow-up"></i>
            </button>
          </div>
          <span class="basis-2/5 text-center">Attendance</span>
          <!-- this is a space for the action column -->
          <span class="basis-1/5"></span>
        </div>

        <!-- faculty member entries -->
        <li *ngFor="let schedule of filterMonitoredAttendances(false)" class="flex flex-row p-4">
          <!-- members' basic info -->
          <div class="basis-2/5 flex flex-row items-center min-w-0">
            <!-- image -->
            <div [ngClass]="'bg-' + systemService.color + '-700'"
                 class="mr-2 shrink-0 flex items-center justify-center w-12 h-12 rounded-full text-[70px] text-white overflow-hidden">
              <i class="fa-solid fa-chart-simple"></i>
            </div>

            <!-- name and email -->
            <div class="text-[14px] min-w-0">
              <div class="text-gray-900 min-w-0 truncate dark:text-white">
                {{schedule.adviser?.full_name}}
              </div>
              <div class="text-gray-500 min-w-0 truncate">
                {{schedule.adviser?.email}}
              </div>
            </div>
          </div>

          <!-- attendance -->
          <div class="shrink-0 basis-2/5 flex justify-center items-center">
            <!-- present -->
            <div *ngIf="checkAttendanceStatus(schedule,'present')" class="shrink-0 badge badge-accent">
              Present
            </div>
            <!-- absent -->
            <div *ngIf="checkAttendanceStatus(schedule,'absent')" class="shrink-0 badge badge-secondary">
              Absent
            </div>
            <!-- no action taken -->
            <div *ngIf="checkAttendanceStatus(schedule,'NaT')"
                 class="shrink-0 badge badge-outline dark:border-night-200 dark:text-night-200">
              No action taken
            </div>
          </div>

          <!-- actions -->
          <div
               class="shrink-0 basis-1/5 flex flex-row justify-center items-center gap-4 text-gray-500 dark:text-night-200">
            <!-- The button to open modal -->
            <label for="delete-modal" class="cursor-pointer">
              <span class="material-icons">
                delete
              </span>
            </label>
            <button>
              <span class="material-icons">
                edit
              </span>
            </button>
          </div>
        </li>

        <!-- pagination -->
        <div class="bottom-0 sticky flex flex-row items-center justify-center bg-white p-4 border-t border-gray-300
        dark:border-night-500 dark:bg-night-700">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </ul>

      <ng-template #noSchedulesBlock>
        <div class="flex justify-center items-center">
          <span class="dark:text-white">
            There are no entries yet...
          </span>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<!-- delete modal  -->
<input type="checkbox" id="delete-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box dark:bg-night-400 dark:text-white">
    <h3 class="font-bold text-lg">Delete faculty member</h3>
    <p class="py-4">Do you want to delete <b>this_name?</b></p>
    <div class="modal-action">
      <label for="delete-modal" class="btn btn-outline dark:text-white">
        cancel
      </label>
      <button class="btn btn-error text-white">
        Delete
      </button>
    </div>
  </div>
</div>
