<div class="flex flex-col">
  <!-- title bar -->
  <div class="top-0 sticky flex flex-col gap-4 px-4 pt-8">
    <span class="text-[24px] text-gray-900 font-medium dark:text-white">Classroom Keys</span>

    <div class="flex flex-row gap-2 items-center mx-4">
      <a href="#keys-all" class="button-plain tab-link">All</a>
      <a href="#keys-available" class="button-plain tab-link">Available</a>
      <a href="#keys-in-use" class="button-plain tab-link">In Use</a>
    </div>
  </div>
  
  
  <div id="keys-all" class="tab-content overflow-y-auto mx-4 my-4 max-h-[calc(100vh-68px-36px-38px-81px-48px)]">
    <ul class="rounded-lg border-light-dark grid grid-cols-4 gap-4 p-2 place-items-center">
      <li *ngFor="let loop2 of '01234567890123123123'.split('')" class="rounded-lg border-light-dark flex flex-col gap-2 justify-center items-center shadow-lg p-4 w-full max-w-[150px] dark:bg-night-700">
        <div class="rounded-full w-[54px] h-[54px] bg-primary-700 flex items-center justify-center">
          <span class="material-icons text-white">
            vpn_key
          </span>
        </div>
        <span class="dark:text-white">IT 1</span>
        <div class="badge badge-secondary">In use</div>
      </li>
  
      <li *ngFor="let loop2 of '01234567890123123123'.split('')" class="rounded-lg border-light-dark flex flex-col gap-2 justify-center items-center shadow-lg p-4 w-full max-w-[150px] dark:bg-night-700">
        <div class="rounded-full w-[54px] h-[54px] bg-primary-700 flex items-center justify-center">
          <span class="material-icons text-white">
            vpn_key
          </span>
        </div>
        <span class="dark:text-white">IT 1</span>
        <div class="badge badge-accent">Available</div>
      </li>
    </ul>
  </div>
  
  <div id="keys-in-use" class="tab-content overflow-y-auto mx-4 my-4 max-h-[calc(100vh-68px-36px-38px-81px-48px)]">
    <ul class="rounded-lg border-light-dark grid grid-cols-4 gap-4 p-2 place-items-center">
      <li *ngFor="let loop2 of '01234567890123123123'.split('')" class="rounded-lg border-light-dark flex flex-col gap-2 justify-center items-center shadow-lg p-4 w-full max-w-[150px] dark:bg-night-700">
        <div class="rounded-full w-[54px] h-[54px] bg-primary-700 flex items-center justify-center">
          <span class="material-icons text-white">
            vpn_key
          </span>
        </div>
        <span class="dark:text-white">IT 1</span>
        <div class="badge badge-secondary">In use</div>
      </li>
    </ul>
  </div>
  
  <div id="keys-available" class="tab-content overflow-y-auto mx-4 my-4 max-h-[calc(100vh-68px-36px-38px-81px-48px)]">
    <ul class="rounded-lg border-light-dark grid grid-cols-4 gap-4 p-2 place-items-center">
      <li *ngFor="let loop2 of '01234567890123123123'.split('')" class="rounded-lg border-light-dark flex flex-col gap-2 justify-center items-center shadow-lg p-4 w-full max-w-[150px] dark:bg-night-700">
        <div class="rounded-full w-[54px] h-[54px] bg-primary-700 flex items-center justify-center">
          <span class="material-icons text-white">
            vpn_key
          </span>
        </div>
        <span class="dark:text-white">IT 1</span>
        <div class="badge badge-accent">Available</div>
      </li>
    </ul>
  </div>
  
  <!-- pagination -->
  <div class="bottom-0 sticky flex items-center justify-between bg-white p-4 border-t border-gray-300 
    dark:border-night-500 dark:bg-night-700">
    <button class="btn-square shrink-0 button-plain w-fit">
      <span class="material-icons">
        chevron_left
      </span>
    </button>
  
    <span class="text-center dark:text-night-200">Page 1 out of 10</span>
  
    <button class="btn-square shrink-0 button-plain w-fit">
      <span class="material-icons">
        chevron_right
      </span>
    </button>
  </div>
</div>
