<div class="mx-auto px-4 pb-4 pt-8 sm:px-8 lg:container">
  <!-- Header -->
  <div class="mb-8 flex justify-between ">
    <div class="inline-block">
      <h3 class="font-medium text-gray-900 text-3xl dark:text-white">Section Management</h3>
      <div class="space-x-1 text-base font-medium text-gray-400 dark:text-night-300">
        <p>Manage the college’s sections.</p>
      </div>
    </div>

  </div>
  <!-- end Header -->

  <div class="inline-block mb-4">
    <h3 class="font-medium text-gray-900 text-2xl dark:text-white">
      Add Section information
    </h3>
    <div class="space-x-1 text-sm font-medium text-gray-400 dark:text-night-300">
      <p>
        Add necessary details needed here.
      </p>
    </div>
  </div>


  <form *ngIf="newSectionForm" [formGroup]="newSectionForm" (ngSubmit)="onSubmit()" novalidate class="grid grid-cols-1">
    <!-- Separator -->
    <div class="py-6">
      <hr class="border-solid border-gray-200 dark:border-night-500" />
    </div>

    <div class="grid grid-cols-8 gap-8 pb-6">
      <div class="col-span-2 space-x-1 my-auto text-sm font-medium text-gray-600 dark:text-night-300">
        <p>Semester</p>
      </div>

      <div class="relative col-span-4">
        <select formControlName="semester_id" name="semester_id" id="semester_id" class="peer block">
          <option *ngFor="let sem of semesters|async" [value]="sem.id">
            {{sem.name_acad_yr}}
          </option>
        </select>
      </div>
    </div>

    <div class="grid grid-cols-8 gap-8 pb-6">
      <div class="col-span-2 space-x-1 my-auto text-sm font-medium text-gray-600 dark:text-night-300">
        <p>Section</p>
      </div>

      <div class="relative col-span-1">
        <select formControlName="name" name="section" id="section" class="peer block">
          <option value="BSIT 1A">
            BSIT 1A
          </option>
          <option value="BSIT 1B">
            BSIT 1B
          </option>
          <option value="BSIT 1C">
            BSIT 1C
          </option>
          <option value="BSIT 1D">
            BSIT 1D
          </option>
          <option value="BSIT 1E">
            BSIT 1E
          </option>
          <option value="BSIT 1F">
            BSIT 1F
          </option>
          <option value="BSIT 1G">
            BSIT 1G
          </option>
          <option value="BSIT 1H">
            BSIT 1H
          </option>
          <option value="BSIT 1I">
            BSIT 1I
          </option>
          <option value="BSIT 1J">
            BSIT 1J
          </option>
          <option value="BSIT 1K">
            BSIT 1K
          </option>
          <option value="BSIT 1L">
            BSIT 1L
          </option>
          <option value="BSIT 1M">
            BSIT 1M
          </option>
          <option value="BSIT 1N">
            BSIT 1N
          </option>
          <option value="BSIT 1O">
            BSIT 1O
          </option>
          <option value="BSIT 1P">
            BSIT 1P
          </option>
          <option value="BSIT 1Q">
            BSIT 1Q
          </option>
          <option value="BSIT 1R">
            BSIT 1R
          </option>
          <option value="BSIT 2A">
            BSIT 2A
          </option>
          <option value="BSIT 2B">
            BSIT 2B
          </option>
          <option value="BSIT 2C">
            BSIT 2C
          </option>
          <option value="BSIT 2D">
            BSIT 2D
          </option>
          <option value="BSIT 2E">
            BSIT 2E
          </option>
          <option value="BSIT 2F">
            BSIT 2F
          </option>
          <option value="BSIT 2G">
            BSIT 2G
          </option>
          <option value="BSIT 2H">
            BSIT 2H
          </option>
          <option value="BSIT 2I">
            BSIT 2I
          </option>
          <option value="BSIT 2J">
            BSIT 2J
          </option>
          <option value="BSIT 2K">
            BSIT 2K
          </option>
          <option value="BSIT 2L">
            BSIT 2L
          </option>
          <option value="BSIT 2M">
            BSIT 2M
          </option>
          <option value="BSIT 2N">
            BSIT 2N
          </option>
          <option value="BSIT 2O">
            BSIT 2O
          </option>
          <option value="BSIT 2P">
            BSIT 2P
          </option>
          <option value="BSIT 2Q">
            BSIT 2Q
          </option>
          <option value="BSIT 2R">
            BSIT 2R
          </option>
          <option value="BSIT 3A">
            BSIT 3A
          </option>
          <option value="BSIT 3B">
            BSIT 3B
          </option>
          <option value="BSIT 3C">
            BSIT 3C
          </option>
          <option value="BSIT 3D">
            BSIT 3D
          </option>
          <option value="BSIT 3E">
            BSIT 3E
          </option>
          <option value="BSIT 3F">
            BSIT 3F
          </option>
          <option value="BSIT 3G">
            BSIT 3G
          </option>
          <option value="BSIT 3H">
            BSIT 3H
          </option>
          <option value="BSIT 3I">
            BSIT 3I
          </option>
          <option value="BSIT 3J">
            BSIT 3J
          </option>
          <option value="BSIT 3K">
            BSIT 3K
          </option>
          <option value="BSIT 3L">
            BSIT 3L
          </option>
          <option value="BSIT 3M">
            BSIT 3M
          </option>
          <option value="BSIT 3N">
            BSIT 3N
          </option>
          <option value="BSIT 3O">
            BSIT 3O
          </option>
          <option value="BSIT 3P">
            BSIT 3P
          </option>
          <option value="BSIT 3Q">
            BSIT 3Q
          </option>
          <option value="BSIT 3R">
            BSIT 3R
          </option>
          <option value="BSIT 4A">
            BSIT 4A
          </option>
          <option value="BSIT 4B">
            BSIT 4B
          </option>
          <option value="BSIT 4C">
            BSIT 4C
          </option>
          <option value="BSIT 4D">
            BSIT 4D
          </option>
          <option value="BSIT 4E">
            BSIT 4E
          </option>
          <option value="BSIT 4F">
            BSIT 4F
          </option>
          <option value="BSIT 4G">
            BSIT 4G
          </option>
          <option value="BSIT 4H">
            BSIT 4H
          </option>
          <option value="BSIT 4I">
            BSIT 4I
          </option>
          <option value="BSIT 4J">
            BSIT 4J
          </option>
          <option value="BSIT 4K">
            BSIT 4K
          </option>
          <option value="BSIT 4L">
            BSIT 4L
          </option>
          <option value="BSIT 4M">
            BSIT 4M
          </option>
          <option value="BSIT 4N">
            BSIT 4N
          </option>
          <option value="BSIT 4O">
            BSIT 4O
          </option>
          <option value="BSIT 4P">
            BSIT 4P
          </option>
          <option value="BSIT 4Q">
            BSIT 4Q
          </option>
          <option value="BSIT 4R">
            BSIT 4R
          </option>
        </select>
      </div>

      <div class="relative col-span-3">
        <!-- tabs -->
        <div
             class="grid w-full grid-cols-3 rounded-md border border-gray-300 text-xs">
          <div>
            <input value="all" type="radio" name="section" id="group-all"
                   class="peer hidden" />
            <label for="group-all"
                   class="rounded-l-md border-r border-gray-300 px-3 py-3 block cursor-pointer select-none text-center peer-checked:first-line:text-white hover:bg-gray-200"
                   [ngClass]="'peer-checked:border-' + systemService.color + '-700 peer-checked:bg-' + systemService.color + '-700'">
              G1 & G2
            </label>
          </div>
          <div>
            <input value="g1" type="radio" name="section" id="group-g1"
                   class="peer hidden" />
            <label
                   for="group-g1"
                   class="border-gray-300 border-r px-3 py-3 block cursor-pointer select-none text-center peer-checked:first-line:text-white hover:bg-gray-200"
                   [ngClass]="'peer-checked:border-' + systemService.color + '-700 peer-checked:bg-' + systemService.color + '-700'">
              G1 Only
            </label>
          </div>

          <div>
            <input value="g2" type="radio" name="section" id="group-g2"
                   class="peer hidden" />
            <label
                   for="group-g2"
                   class="rounded-r-md border-gray-300 px-3 py-3 block cursor-pointer select-none text-center peer-checked:first-line:text-white hover:bg-gray-200"
                   [ngClass]="'peer-checked:border-' + systemService.color + '-700 peer-checked:bg-' + systemService.color + '-700'">
              G2 Only
            </label>
          </div>

        </div>
      </div>




    </div>

    <div class="grid grid-cols-8 gap-8 pb-6">
      <div class="col-span-2 space-x-1 my-auto text-sm font-medium text-gray-600 dark:text-night-300">
        <p>Faculty</p>
      </div>

      <div class="relative col-span-4">
        <select formControlName="adviser_id" name="adviser_id" id="adviser_id" class="peer block">
          <option *ngFor="let faculty of faculty|async" [value]="faculty.id">
            {{faculty.full_name}}
          </option>
        </select>
      </div>
    </div>

    <div class="grid grid-cols-8 gap-8 pb-6">
      <div class="col-span-2 space-x-1 my-auto text-sm font-medium text-gray-600 dark:text-night-300">
        <p>Status</p>
      </div>

      <div class="relative col-span-2">
        <!-- tabs -->
        <div
             class="grid w-full grid-cols-2 rounded-md border border-gray-300 text-xs">
          <div>
            <input formControlName="status" value="active" type="radio" name="status" id="status-active"
                   class="peer hidden" />
            <label for="status-active"
                   class="rounded-l-md border-r border-gray-300 px-3 py-3 block cursor-pointer select-none text-center peer-checked:first-line:text-white hover:bg-gray-200"
                   [ngClass]="'peer-checked:border-' + systemService.color + '-700 peer-checked:bg-' + systemService.color + '-700'">
              Active
            </label>
          </div>
          <div>
            <input formControlName="status" value="inactive" type="radio" name="status" id="status-inactive"
                   class="peer hidden" />
            <label
                   for="status-inactive"
                   class="rounded-r-md border-gray-300 px-3 py-3 block cursor-pointer select-none text-center peer-checked:first-line:text-white hover:bg-gray-200"
                   [ngClass]="'peer-checked:border-' + systemService.color + '-700 peer-checked:bg-' + systemService.color + '-700'">
              Inactive
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- Separator -->
    <div class="py-6">
      <hr class="border-solid border-gray-200 dark:border-night-500" />
    </div>

    <div class="flex items-center justify-end space-x-3">
      <button type="reset" routerLink="/section"
              class="relative mb-10 flex w-20 justify-center rounded-md border border-gray-200 py-2 px-4 text-sm font-medium text-gray-600 focus:outline-none hover:bg-gray-200">
        Cancel
      </button>
      <button type="submit"
              class="relative mb-10 flex w-20 justify-center rounded-md border border-transparent py-2 px-4 text-sm font-medium text-white focus:outline-none"
              [ngClass]="'bg-' + systemService.color + '-700 hover:bg-' + systemService.color + '-600 border-' + systemService.color + '-700'">
        Save
      </button>
    </div>
  </form>
</div>
