<div class="mx-auto px-4 pb-4 pt-8 sm:px-8 lg:container">
  <!-- Header -->
  <div class="mb-8 flex justify-between ">
    <div class="inline-block">
      <h3 class="font-medium text-gray-900 text-3xl dark:text-white">Section Management</h3>
      <div class="space-x-1 text-base font-medium text-gray-400 dark:text-night-300">
        <p>Manage the college’s sections.</p>
      </div>
    </div>

  </div>
  <!-- end Header -->

  <div class="inline-block mb-4">
    <h3 class="font-medium text-gray-900 text-2xl dark:text-white">
      Edit Section information
    </h3>
    <div class="space-x-1 text-sm font-medium text-gray-400 dark:text-night-300">
      <p>
        Edit necessary details needed here.
      </p>
    </div>
  </div>

  <pre *ngIf="editSectionForm">
    {{editSectionForm.value|json}}
  </pre>

  <form *ngIf="editSectionForm && section" [formGroup]="editSectionForm" (ngSubmit)="onSubmit()" novalidate
        class="grid grid-cols-1">
    <!-- Separator -->
    <div class="py-6">
      <hr class="border-solid border-gray-200 dark:border-night-500" />
    </div>

    <div class="grid grid-cols-8 gap-8 pb-6">
      <div class="col-span-2 space-x-1 my-auto text-sm font-medium text-gray-600 dark:text-night-300">
        <p>Semester</p>
      </div>

      <div class="relative col-span-4">
        <select formControlName="semester_id" name="semester_id" id="semester_id" class="peer block">
          <option *ngFor="let sem of semesters|async" [value]="sem.id">
            {{sem.name_acad_yr}}
          </option>
        </select>
      </div>
    </div>

    <div class="grid grid-cols-8 gap-8 pb-6">
      <div class="col-span-2 space-x-1 my-auto text-sm font-medium text-gray-600 dark:text-night-300">
        <p>Section</p>
      </div>

      <div class="relative col-span-4">
        <select formControlName="name" name="section" id="section" class="peer block">
          <option value="BSIT 1A - G1">
            BSIT 1A - G1
          </option>
          <option value="BSIT 1A - G2">
            BSIT 1A - G2
          </option>
          <option value="BSIT 1B - G1">
            BSIT 1B - G1
          </option>
          <option value="BSIT 1B - G2">
            BSIT 1B - G2
          </option>
          <option value="BSIT 1C - G1">
            BSIT 1C - G1
          </option>
          <option value="BSIT 1C - G2">
            BSIT 1C - G2
          </option>
          <option value="BSIT 1D - G1">
            BSIT 1D - G1
          </option>
          <option value="BSIT 1A - G2">
            BSIT 1D - G2
          </option>
          <option value="BSIT 1E - G1">
            BSIT 1E - G1
          </option>
          <option value="BSIT 1A - G2">
            BSIT 1E - G2
          </option>
          <option value="BSIT 1F - G1">
            BSIT 1F - G1
          </option>
          <option value="BSIT 1F - G2">
            BSIT 1F - G2
          </option>
          <option value="BSIT 1G - G1">
            BSIT 1G - G1
          </option>
          <option value="BSIT 1G - G2">
            BSIT 1G - G2
          </option>
          <option value="BSIT 1H - G1">
            BSIT 1H - G1
          </option>
          <option value="BSIT 1H - G2">
            BSIT 1H - G2
          </option>
          <option value="BSIT 1I - G1">
            BSIT 1I - G1
          </option>
          <option value="BSIT 1I - G2">
            BSIT 1I - G2
          </option>
          <option value="BSIT 1J - G1">
            BSIT 1J - G1
          </option>
          <option value="BSIT 1J - G2">
            BSIT 1J - G2
          </option>
          <option value="BSIT 1K - G1">
            BSIT 1K - G1
          </option>
          <option value="BSIT 1K - G2">
            BSIT 1K - G2
          </option>
          <option value="BSIT 1L - G1">
            BSIT 1L - G1
          </option>
          <option value="BSIT 1L - G2">
            BSIT 1L - G2
          </option>
          <option value="BSIT 1M - G1">
            BSIT 1M - G1
          </option>
          <option value="BSIT 1M - G2">
            BSIT 1M - G2
          </option>
          <option value="BSIT 1N - G1">
            BSIT 1N - G1
          </option>
          <option value="BSIT 1N - G2">
            BSIT 1N - G2
          </option>
          <option value="BSIT 1O - G1">
            BSIT 1O - G1
          </option>
          <option value="BSIT 1O - G2">
            BSIT 1O - G2
          </option>
          <option value="BSIT 1P - G1">
            BSIT 1P - G1
          </option>
          <option value="BSIT 1P - G2">
            BSIT 1P - G2
          </option>
          <option value="BSIT 1Q - G1">
            BSIT 1Q - G1
          </option>
          <option value="BSIT 1Q - G2">
            BSIT 1Q - G2
          </option>
          <option value="BSIT 1R - G1">
            BSIT 1R - G1
          </option>
          <option value="BSIT 1R - G2">
            BSIT 1R - G2
          </option>

          <option value="BSIT 2A - G1">
            BSIT 2A - G1
          </option>
          <option value="BSIT 2A - G2">
            BSIT 2A - G2
          </option>
          <option value="BSIT 2B - G1">
            BSIT 2B - G1
          </option>
          <option value="BSIT 2B - G2">
            BSIT 2B - G2
          </option>
          <option value="BSIT 2C - G1">
            BSIT 2C - G1
          </option>
          <option value="BSIT 2C - G2">
            BSIT 2C - G2
          </option>
          <option value="BSIT 2D - G1">
            BSIT 2D - G1
          </option>
          <option value="BSIT 2A - G2">
            BSIT 2D - G2
          </option>
          <option value="BSIT 2E - G1">
            BSIT 2E - G1
          </option>
          <option value="BSIT 2A - G2">
            BSIT 2E - G2
          </option>
          <option value="BSIT 2F - G1">
            BSIT 2F - G1
          </option>
          <option value="BSIT 2F - G2">
            BSIT 2F - G2
          </option>
          <option value="BSIT 2G - G1">
            BSIT 2G - G1
          </option>
          <option value="BSIT 2G - G2">
            BSIT 2G - G2
          </option>
          <option value="BSIT 2H - G1">
            BSIT 2H - G1
          </option>
          <option value="BSIT 2H - G2">
            BSIT 2H - G2
          </option>
          <option value="BSIT 2I - G1">
            BSIT 2I - G1
          </option>
          <option value="BSIT 2I - G2">
            BSIT 2I - G2
          </option>
          <option value="BSIT 2J - G1">
            BSIT 2J - G1
          </option>
          <option value="BSIT 2J - G2">
            BSIT 2J - G2
          </option>
          <option value="BSIT 2K - G1">
            BSIT 2K - G1
          </option>
          <option value="BSIT 2K - G2">
            BSIT 2K - G2
          </option>
          <option value="BSIT 2L - G1">
            BSIT 2L - G1
          </option>
          <option value="BSIT 2L - G2">
            BSIT 2L - G2
          </option>
          <option value="BSIT 2M - G1">
            BSIT 2M - G1
          </option>
          <option value="BSIT 2M - G2">
            BSIT 2M - G2
          </option>
          <option value="BSIT 2N - G1">
            BSIT 2N - G1
          </option>
          <option value="BSIT 2N - G2">
            BSIT 2N - G2
          </option>
          <option value="BSIT 2O - G1">
            BSIT 2O - G1
          </option>
          <option value="BSIT 2O - G2">
            BSIT 2O - G2
          </option>
          <option value="BSIT 2P - G1">
            BSIT 2P - G1
          </option>
          <option value="BSIT 2P - G2">
            BSIT 2P - G2
          </option>
          <option value="BSIT 2Q - G1">
            BSIT 2Q - G1
          </option>
          <option value="BSIT 2Q - G2">
            BSIT 2Q - G2
          </option>
          <option value="BSIT 2R - G1">
            BSIT 2R - G1
          </option>
          <option value="BSIT 2R - G2">
            BSIT 2R - G2
          </option>

          <option value="BSIT 3A - G1">
            BSIT 3A - G1
          </option>
          <option value="BSIT 3A - G2">
            BSIT 3A - G2
          </option>
          <option value="BSIT 3B - G1">
            BSIT 3B - G1
          </option>
          <option value="BSIT 3B - G2">
            BSIT 3B - G2
          </option>
          <option value="BSIT 3C - G1">
            BSIT 3C - G1
          </option>
          <option value="BSIT 3C - G2">
            BSIT 3C - G2
          </option>
          <option value="BSIT 3D - G1">
            BSIT 3D - G1
          </option>
          <option value="BSIT 3A - G2">
            BSIT 3D - G2
          </option>
          <option value="BSIT 3E - G1">
            BSIT 3E - G1
          </option>
          <option value="BSIT 3A - G2">
            BSIT 3E - G2
          </option>
          <option value="BSIT 3F - G1">
            BSIT 3F - G1
          </option>
          <option value="BSIT 3F - G2">
            BSIT 3F - G2
          </option>
          <option value="BSIT 3G - G1">
            BSIT 3G - G1
          </option>
          <option value="BSIT 3G - G2">
            BSIT 3G - G2
          </option>
          <option value="BSIT 3H - G1">
            BSIT 3H - G1
          </option>
          <option value="BSIT 3H - G2">
            BSIT 3H - G2
          </option>
          <option value="BSIT 3I - G1">
            BSIT 3I - G1
          </option>
          <option value="BSIT 3I - G2">
            BSIT 3I - G2
          </option>
          <option value="BSIT 3J - G1">
            BSIT 3J - G1
          </option>
          <option value="BSIT 3J - G2">
            BSIT 3J - G2
          </option>
          <option value="BSIT 3K - G1">
            BSIT 3K - G1
          </option>
          <option value="BSIT 3K - G2">
            BSIT 3K - G2
          </option>
          <option value="BSIT 3L - G1">
            BSIT 3L - G1
          </option>
          <option value="BSIT 3L - G2">
            BSIT 3L - G2
          </option>
          <option value="BSIT 3M - G1">
            BSIT 3M - G1
          </option>
          <option value="BSIT 3M - G2">
            BSIT 3M - G2
          </option>
          <option value="BSIT 3N - G1">
            BSIT 3N - G1
          </option>
          <option value="BSIT 3N - G2">
            BSIT 3N - G2
          </option>
          <option value="BSIT 3O - G1">
            BSIT 3O - G1
          </option>
          <option value="BSIT 3O - G2">
            BSIT 3O - G2
          </option>
          <option value="BSIT 3P - G1">
            BSIT 3P - G1
          </option>
          <option value="BSIT 3P - G2">
            BSIT 3P - G2
          </option>
          <option value="BSIT 3Q - G1">
            BSIT 3Q - G1
          </option>
          <option value="BSIT 3Q - G2">
            BSIT 3Q - G2
          </option>
          <option value="BSIT 3R - G1">
            BSIT 3R - G1
          </option>
          <option value="BSIT 3R - G2">
            BSIT 3R - G2
          </option>
          <option value="BSIT 4A - G1">
            BSIT 4A - G1
          </option>
          <option value="BSIT 4A - G2">
            BSIT 4A - G2
          </option>
          <option value="BSIT 4B - G1">
            BSIT 4B - G1
          </option>
          <option value="BSIT 4B - G2">
            BSIT 4B - G2
          </option>
          <option value="BSIT 4C - G1">
            BSIT 4C - G1
          </option>
          <option value="BSIT 4C - G2">
            BSIT 4C - G2
          </option>
          <option value="BSIT 4D - G1">
            BSIT 4D - G1
          </option>
          <option value="BSIT 4A - G2">
            BSIT 4D - G2
          </option>
          <option value="BSIT 4E - G1">
            BSIT 4E - G1
          </option>
          <option value="BSIT 4A - G2">
            BSIT 4E - G2
          </option>
          <option value="BSIT 4F - G1">
            BSIT 4F - G1
          </option>
          <option value="BSIT 4F - G2">
            BSIT 4F - G2
          </option>
          <option value="BSIT 4G - G1">
            BSIT 4G - G1
          </option>
          <option value="BSIT 4G - G2">
            BSIT 4G - G2
          </option>
          <option value="BSIT 4H - G1">
            BSIT 4H - G1
          </option>
          <option value="BSIT 4H - G2">
            BSIT 4H - G2
          </option>
          <option value="BSIT 4I - G1">
            BSIT 4I - G1
          </option>
          <option value="BSIT 4I - G2">
            BSIT 4I - G2
          </option>
          <option value="BSIT 4J - G1">
            BSIT 4J - G1
          </option>
          <option value="BSIT 4J - G2">
            BSIT 4J - G2
          </option>
          <option value="BSIT 4K - G1">
            BSIT 4K - G1
          </option>
          <option value="BSIT 4K - G2">
            BSIT 4K - G2
          </option>
          <option value="BSIT 4L - G1">
            BSIT 4L - G1
          </option>
          <option value="BSIT 4L - G2">
            BSIT 4L - G2
          </option>
          <option value="BSIT 4M - G1">
            BSIT 4M - G1
          </option>
          <option value="BSIT 4M - G2">
            BSIT 4M - G2
          </option>
          <option value="BSIT 4N - G1">
            BSIT 4N - G1
          </option>
          <option value="BSIT 4N - G2">
            BSIT 4N - G2
          </option>
          <option value="BSIT 4O - G1">
            BSIT 4O - G1
          </option>
          <option value="BSIT 4O - G2">
            BSIT 4O - G2
          </option>
          <option value="BSIT 4P - G1">
            BSIT 4P - G1
          </option>
          <option value="BSIT 4P - G2">
            BSIT 4P - G2
          </option>
          <option value="BSIT 4Q - G1">
            BSIT 4Q - G1
          </option>
          <option value="BSIT 4Q - G2">
            BSIT 4Q - G2
          </option>
          <option value="BSIT 4R - G1">
            BSIT 4R - G1
          </option>
          <option value="BSIT 4R - G2">
            BSIT 4R - G2
          </option>
        </select>
      </div>
    </div>

    <div class="grid grid-cols-8 gap-8 pb-6">
      <div class="col-span-2 space-x-1 my-auto text-sm font-medium text-gray-600 dark:text-night-300">
        <p>Faculty</p>
      </div>

      <div class="relative col-span-4">
        <select formControlName="adviser_id" name="adviser_id" id="adviser_id" class="peer block">
          <option *ngFor="let faculty of faculty|async" [value]="faculty.id">
            {{faculty.full_name}}
          </option>
        </select>
      </div>
    </div>

    <div class="grid grid-cols-8 gap-8 pb-6">
      <div class="col-span-2 space-x-1 my-auto text-sm font-medium text-gray-600 dark:text-night-300">
        <p>Status</p>
      </div>

      <div class="relative col-span-2">
        <!-- tabs -->
        <div
             class="grid w-full grid-cols-2 rounded-md border border-gray-300 text-xs">
          <div>
            <input formControlName="status" value="active" type="radio" name="status" id="status-active"
                   class="peer hidden" [checked]="section.status ==='active'" />
            <label for="status-active"
                   class="rounded-l-md border-r border-gray-300 px-3 py-3 block cursor-pointer select-none text-center peer-checked:first-line:text-white hover:bg-gray-200"
                   [ngClass]="'peer-checked:border-' + systemService.color + '-700 peer-checked:bg-' + systemService.color + '-700'">
              Active
            </label>
          </div>
          <div>
            <input formControlName="status" value="inactive" type="radio" name="status" id="status-inactive"
                   class="peer hidden" [checked]="section.status ==='inactive'" />
            <label
                   for="status-inactive"
                   class="rounded-r-md border-gray-300 px-3 py-3 block cursor-pointer select-none text-center peer-checked:first-line:text-white hover:bg-gray-200"
                   [ngClass]="'peer-checked:border-' + systemService.color + '-700 peer-checked:bg-' + systemService.color + '-700'">
              Inactive
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- Separator -->
    <div class="py-6">
      <hr class="border-solid border-gray-200 dark:border-night-500" />
    </div>

    <div class="flex items-center justify-end space-x-3">
      <button type="reset"
              class="relative mb-10 flex w-20 justify-center rounded-md border border-gray-200 py-2 px-4 text-sm font-medium text-gray-600 focus:outline-none hover:bg-gray-200">
        Cancel
      </button>
      <button type="submit"
              class="relative mb-10 flex w-20 justify-center rounded-md border border-transparent py-2 px-4 text-sm font-medium text-white focus:outline-none"
              [ngClass]="'bg-' + systemService.color + '-700 hover:bg-' + systemService.color + '-600 border-' + systemService.color + '-700'">
        Save
      </button>
    </div>
  </form>
</div>
