<div class="mx-auto px-4 pb-4 pt-8 sm:px-8 lg:container">
     <!-- Header -->
     <div class="mb-8 flex justify-between ">
        <div class="inline-block">
            <h3 class="font-medium text-gray-900 text-3xl dark:text-white">Subject Management</h3>
            <div class="space-x-1 text-base font-medium text-gray-400 dark:text-night-300">
                <p class="hover:text-primary-800">Manage the college’s offered course.</p>
            </div>
        </div>
        <button type="button" [routerLink]="['/subject/add-subject']"
                class="my-auto flex-none button-colored">
                Add Subject
        </button>
    </div>
    <!-- end Header -->

    <div class="inline-block mb-4">
        <h3 class="font-medium text-gray-900 text-2xl dark:text-white">
            Add Subject information
        </h3>
        <div class="space-x-1 text-sm font-medium text-gray-400 dark:text-night-300">
            <p class="hover:text-primary-800">
                Add necessary details needed here.
            </p>
        </div>
    </div>

    <form class="grid grid-cols-1">
        <!-- Separator -->
        <div class="py-6">
            <hr class="border-solid border-gray-200 dark:border-night-500" />
        </div>

        <div class="grid grid-cols-8 gap-8 pb-6">
            <div class="col-span-2 space-x-1 text-sm font-medium text-gray-600 dark:text-night-300">
                <p>Subject Code</p>
            </div>

            <div class="relative col-span-4">
                <input name="subject-code" type="text" id="subject-code" class="peer block" placeholder=" " />

            </div>


        </div>

        <div class="grid grid-cols-8 gap-8 pb-6">
            <div class="col-span-2 space-x-1 text-sm font-medium text-gray-600 dark:text-night-300">
                <p>Subject Title</p>
            </div>

            <div class="relative col-span-4">
                <input name="subject-title" type="text" id="subject-title" class="peer block" placeholder=" " />

            </div>


        </div>









        <div class="grid grid-cols-8 gap-8 pb-6">
            <div class="col-span-2 space-x-1 my-auto text-sm font-medium text-gray-600 dark:text-night-300">
                <p>Status</p>
            </div>

            <div class="relative col-span-2">


        <!-- tabs -->
        <div
          class="grid w-full grid-cols-2 rounded-md border border-gray-300 text-xs">
          <div>
            <input type="radio" name="option" id="1" class="peer hidden" checked />
            <label for="1" class="rounded-l-md border-r border-gray-300 px-3 py-3 block cursor-pointer select-none text-center peer-checked:border-primary-700 peer-checked:bg-primary-700 peer-checked:first-line:text-white hover:bg-gray-200"
              >Active</label
            >
          </div>


          <div>
            <input type="radio" name="option" id="2" class="peer hidden" />
            <label
              for="2"
              class="rounded-r-md border-gray-300 px-3 py-3 block cursor-pointer select-none text-center peer-checked:border-primary-700 peer-checked:bg-primary-700 peer-checked:first-line:text-white hover:bg-gray-200"
              >Inactive</label
            >
          </div>

        </div>


            </div>



        </div>







        <!-- Separator -->
        <div class="py-6">
            <hr class="border-solid border-gray-200 dark:border-night-500" />
        </div>

        <div class="flex items-center justify-end space-x-3">
            <button type="reset"
                class="relative mb-10 flex w-20 justify-center rounded-md border border-gray-200 py-2 px-4 text-sm font-medium text-gray-600 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-gray-200">
                Cancel
            </button>
            <button type="submit"
                class="relative mb-10 flex w-20 justify-center rounded-md border border-transparent bg-primary-700 py-2 px-4 text-sm font-medium text-white focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-primary-600">
                Save
            </button>
        </div>
    </form>







</div>
