<div class="inline-block mb-4">
    <h3 class="font-medium text-gray-900 text-2xl dark:text-white">
        Schedule
    </h3>
    <div class="space-x-1 text-sm font-medium text-gray-400 dark:text-night-300">
        <p class="hover:text-primary-800">
            Enter necessary details to add faculty schedule.
        </p>
    </div>
</div>

<form class="grid grid-cols-1">
    <!-- Separator -->
    <div class="py-6">
        <hr class="border-solid border-gray-200 dark:border-night-500" />
    </div>

    <div class="grid grid-cols-8 gap-8 pb-6">
        <div class="space-x-1 my-auto text-sm font-medium text-gray-600 dark:text-night-300">
            <p>Faculty</p>
        </div>

        <div class="relative col-span-2">
            <select name="faculty" id="faculty" class="peer block">
                <option>
                    Gabriel Galang
                </option>
            </select>
        </div>

        <div class="space-x-1 my-auto text-sm font-medium text-gray-600 dark:text-night-300">
            <p>Room</p>
        </div>

        <div class="relative col-span-2">
            <select name="room" id="room" class="peer block">
                <option>
                    IT1
                </option>
            </select>
        </div>

    </div>


    <div class="grid grid-cols-8 gap-8 pb-6">
        <div class="space-x-1 my-auto text-sm font-medium text-gray-600 dark:text-night-300">
            <p>Subject</p>
        </div>

        <div class="relative col-span-2">
            <select name="faculty" id="faculty" class="peer block">
                <option>
                    Elective 5
                </option>
            </select>
        </div>

        <div class="space-x-1 my-auto text-sm font-medium text-gray-600 dark:text-night-300">
            <p>Section</p>
        </div>

        <div class="relative col-span-2">
            <select name="room" id="room" class="peer block">
                <option>
                    BSIT 4K
                </option>
            </select>
        </div>

    </div>


    <div class="grid grid-cols-8 gap-8 pb-6">
        <div class="space-x-1 my-auto text-sm font-medium text-gray-600 dark:text-night-300">
            <p>Semester</p>
        </div>

        <div class="relative col-span-2">
            <select name="faculty" id="faculty" class="peer block">
                <option>
                    1st Semester
                </option>
            </select>
        </div>



    </div>


    <div class="grid grid-cols-8 gap-8 pb-6">
        <div class="space-x-1 my-auto text-sm font-medium text-gray-600 dark:text-night-300">
            <p>Schedule</p>
        </div>

        <div class="relative col-span-3">


    <!-- tabs -->
    <div
      class="grid w-full grid-cols-7 rounded-md border border-gray-300 text-xs">
      <div>
        <input type="radio" name="option" id="1" class="peer hidden" checked />
        <label for="1" class="rounded-l-md border-r border-gray-300 px-3 py-3 block cursor-pointer select-none text-center peer-checked:border-primary-700 peer-checked:bg-primary-700 peer-checked:first-line:text-white hover:bg-gray-200"
          >Mon</label
        >
      </div>

      <div>
        <input type="radio" name="option" id="2" class="peer hidden" />
        <label
          for="2"
          class="border-r border-gray-300 px-3 py-3 block cursor-pointer select-none text-center peer-checked:border-primary-700 peer-checked:bg-primary-700 peer-checked:first-line:text-white hover:bg-gray-200"
          >Tue</label
        >
      </div>

      <div>
        <input type="radio" name="option" id="3" class="peer hidden" />
        <label
          for="3"
          class="border-r border-gray-300 px-3 py-3 block cursor-pointer select-none text-center peer-checked:border-primary-700 peer-checked:bg-primary-700 peer-checked:first-line:text-white hover:bg-gray-200"
          >Wed</label
        >
      </div>

      <div>
        <input type="radio" name="option" id="4" class="peer hidden" />
        <label
          for="4"
          class="border-r border-gray-300 px-3 py-3 block cursor-pointer select-none text-center peer-checked:border-primary-700 peer-checked:bg-primary-700 peer-checked:first-line:text-white hover:bg-gray-200"
          >Thu</label
        >
      </div>

      <div>
        <input type="radio" name="option" id="5" class="peer hidden" />
        <label
          for="5"
          class="border-r border-gray-300 px-3 py-3 block cursor-pointer select-none text-center peer-checked:border-primary-700 peer-checked:bg-primary-700 peer-checked:first-line:text-white hover:bg-gray-200"
          >Fri</label
        >
      </div>

      <div>
        <input type="radio" name="option" id="6" class="peer hidden" />
        <label
          for="6"
          class="border-r border-gray-300 px-3 py-3 block cursor-pointer select-none text-center peer-checked:border-primary-700 peer-checked:bg-primary-700 peer-checked:first-line:text-white hover:bg-gray-200"
          >Sat</label
        >
      </div>

      <div>
        <input type="radio" name="option" id="7" class="peer hidden" />
        <label
          for="7"
          class="rounded-r-md border-gray-300 px-3 py-3 block cursor-pointer select-none text-center peer-checked:border-primary-700 peer-checked:bg-primary-700 peer-checked:first-line:text-white hover:bg-gray-200"
          >Sun</label
        >
      </div>

    </div>


        </div>



    </div>


    <div class="grid grid-cols-8 gap-8 pb-6">
        <div class="space-x-1 my-auto text-sm font-medium text-gray-600 dark:text-night-300">
            <p>Start Time</p>
        </div>

        <div class="relative col-span-2">
            <select name="faculty" id="faculty" class="peer block">
                <option>
                    12:00 pm
                </option>
            </select>
        </div>

        <div class="space-x-1 my-auto text-sm font-medium text-gray-600 dark:text-night-300">
            <p>End Time</p>
        </div>

        <div class="relative col-span-2">
            <select name="room" id="room" class="peer block">
                <option>
                    2:00 pm
                </option>
            </select>
        </div>

    </div>


    <!-- Separator -->
    <div class="py-6">
        <hr class="border-solid border-gray-200 dark:border-night-500" />
    </div>

    <div class="flex items-center justify-end space-x-3">
        <button type="reset"
            class="relative mb-10 flex w-20 justify-center rounded-md border border-gray-200 py-2 px-4 text-sm font-medium text-gray-600 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-gray-200">
            Cancel
        </button>
        <button type="submit"
            class="relative mb-10 flex w-20 justify-center rounded-md border border-transparent bg-primary-700 py-2 px-4 text-sm font-medium text-white focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-primary-600">
            Save
        </button>
    </div>
</form>
