<div class="grid grid-cols-1 rounded-t-lg border-light-dark bg-white p-5 dark:bg-night-700">
    <div class="flex justify-between">
        <div class="flex items-center justify-start">
            <a href="#faculty"
               class="tab-link active relative selection:flex justify-center rounded-l-md border border-gray-300 dark:border-night-500 py-2 px-4 text-sm font-medium text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-gray-100 dark:text-night-200 dark:hover:bg-night-500">
                Faculty
            </a>
            <a href="#room"
               class="tab-link relative selection:flex justify-center border-y border-gray-300 dark:border-night-500 py-2 px-4 text-sm font-medium text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-gray-100 dark:text-night-200 dark:hover:bg-night-500">
                Room
            </a>
            <a href="#section"
               class="tab-link relative selection:flex justify-center rounded-r-md border border-gray-300 dark:border-night-500 py-2 px-4 text-sm font-medium text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-gray-100 dark:text-night-200 dark:hover:bg-night-500">
                Section
            </a>
        </div>
        <button type="button" [routerLink]="['/schedule/add-schedule']"
                class="flex items-center justify-center rounded-md button-plain">
            <span class="material-symbols-rounded h-6 w-6 mr-2">
                add
            </span>
            Add Schedule
        </button>
    </div>
</div>


<div id="faculty" class="tab-content">

    <div class="grid grid-cols-1 border-x border-gray-200 dark:border-night-500 bg-white p-5 dark:bg-night-700">
        <app-schedule-faculty-table [data]="schedules"></app-schedule-faculty-table>
    </div>


    <div class="grid grid-cols-1 rounded-b-lg border-light-dark bg-white p-5 dark:bg-night-700">
        <div class="flex items-center justify-between space-x-3">
            <button type="button"
                    class="flex items-center justify-center rounded-md button-plain">
                <span class="material-symbols-rounded h-6 w-6 mr-2">
                    arrow_back
                </span>
                Previous
            </button>
            <div class="flex gap-1" *ngIf="isMultiPage">
                <div *ngFor="let page of pageMaxCount()"
                     class="cursor-pointer relative justify-center rounded-md py-2 px-4 text-sm font-medium dark:text-primary-300 text-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 bg-primary-50">
                    1
                </div>
            </div>

            <button type="button"
                class="flex items-center justify-center rounded-md button-plain">
                Next
                <span class="material-symbols-rounded h-6 w-6 ml-2">
                    arrow_forward
                </span>
        </button>
        </div>
    </div>

</div>


<div id="room" class="tab-content">
    <div class="grid grid-cols-1 border-x border-gray-200 dark:border-night-500 bg-white p-5 dark:bg-night-700">
        <app-schedule-room-table></app-schedule-room-table>
    </div>


    <div class="grid grid-cols-1 rounded-b-lg border-light-dark bg-white p-5 dark:bg-night-700">
        <div class="flex items-center justify-between space-x-3">


            <button type="button"
                    class="flex items-center justify-center rounded-md button-plain">
                <span class="material-symbols-rounded h-6 w-6 mr-2">
                    arrow_back
                </span>
                Previous
            </button>

            <div class="flex gap-1">
                <div
                     class="cursor-pointer relative justify-center rounded-md py-2 px-4 text-sm font-medium dark:text-primary-300 text-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 bg-primary-300/25">
                    1
                </div>
                <div
                     class="cursor-pointer relative justify-center rounded-md py-2 px-4 text-sm font-medium text-gray-500 hover:bg-gray-100">
                    2
                </div>
                <div
                     class="cursor-pointer relative justify-center rounded-md py-2 px-4 text-sm font-medium text-gray-500 hover:bg-gray-100">
                    3
                </div>
            </div>

            <button type="button"
                    class="flex items-center justify-center rounded-md button-plain">
                Next
                <span class="material-symbols-rounded h-6 w-6 ml-2">
                    arrow_forward
                </span>
            </button>

        </div>
    </div>
</div>

<div id="section" class="tab-content">
    <div class="grid grid-cols-1 border-x border-gray-200 dark:border-night-500 bg-white p-5 dark:bg-night-700">
        <app-schedule-section-table></app-schedule-section-table>
    </div>


    <div class="grid grid-cols-1 rounded-b-lg border-light-dark bg-white p-5 dark:bg-night-700">
        <div class="flex items-center justify-between space-x-3">


            <button type="button"
                    class="flex items-center justify-center rounded-md button-plain">
                <span class="material-symbols-rounded h-6 w-6 mr-2">
                    arrow_back
                </span>
                Previous
            </button>

            <div class="flex gap-1">
                <div
                     class="cursor-pointer relative justify-center rounded-md py-2 px-4 text-sm font-medium dark:text-primary-300 text-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 bg-primary-300/25">
                    1
                </div>
                <div
                     class="cursor-pointer relative justify-center rounded-md py-2 px-4 text-sm font-medium text-gray-500 hover:bg-gray-100">
                    2
                </div>
                <div
                     class="cursor-pointer relative justify-center rounded-md py-2 px-4 text-sm font-medium text-gray-500 hover:bg-gray-100">
                    3
                </div>
            </div>

            <button type="button"
                    class="flex items-center justify-center rounded-md button-plain">
                Next
                <span class="material-symbols-rounded h-6 w-6 ml-2">
                    arrow_forward
                </span>
            </button>

        </div>
    </div>

</div>
