<div class="grid grid-cols-1 rounded-t-lg border-light-dark bg-white p-5 dark:bg-night-700">
    <div class="flex justify-between">
        <div class="flex items-center justify-start">
            <a href="#faculty"
                class="tab-link active relative selection:flex justify-center rounded-l-md border border-gray-200 dark:border-night-500 py-2 px-4 text-sm font-medium text-gray-600 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-gray-200">
                Faculty
            </a>
            <a href="#room"
                class="tab-link relative selection:flex justify-center border-y border-gray-200 dark:border-night-500 py-2 px-4 text-sm font-medium text-gray-600 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-gray-200">
                Room
            </a>
            <a href="#section"
                class="tab-link relative selection:flex justify-center rounded-r-md border border-gray-200 dark:border-night-500 py-2 px-4 text-sm font-medium text-gray-600 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-gray-200">
                Section
            </a>
        </div>


            <button type="button" [routerLink]="['/schedule/add-schedule']"
                class="relative selection:flex justify-center rounded-md border border-gray-200 dark:border-night-500 py-2 px-4 text-sm font-medium text-gray-600 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-gray-200">
                Add Schedule
            </button>


    </div>
</div>


<div id="faculty" class="tab-content">

<div class="grid grid-cols-1 border-x border-gray-200 dark:border-night-500 bg-white p-5 dark:bg-night-700">
    <app-schedule-faculty-table></app-schedule-faculty-table>
</div>


<div class="grid grid-cols-1 rounded-b-lg border-light-dark bg-white p-5 dark:bg-night-700">
    <div class="flex items-center justify-between space-x-3">
        <button type="button"
            class="relative selection:flex justify-center rounded-md border border-gray-200 dark:border-night-500 py-2 px-4 text-sm font-medium text-gray-600 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-gray-200">
            Previous
        </button>

        <div>
            <div
                class="relative justify-center rounded-md py-2 px-4 text-sm font-medium text-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 bg-primary-50">
                1
            </div>
        </div>

        <button type="button"
            class="relative selection:flex justify-center rounded-md border border-gray-200 dark:border-night-500 py-2 px-4 text-sm font-medium text-gray-600 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-gray-200">
            Next
        </button>
    </div>
</div>

</div>


<div id="room" class="tab-content">
    <div class="grid grid-cols-1 border-x border-gray-200 dark:border-night-500 bg-white p-5 dark:bg-night-700">
        <app-schedule-room-table></app-schedule-room-table>
    </div>


    <div class="grid grid-cols-1 rounded-b-lg border-light-dark bg-white p-5 dark:bg-night-700">
        <div class="flex items-center justify-between space-x-3">
            <button type="button"
                class="relative selection:flex justify-center rounded-md border border-gray-200 dark:border-night-500 py-2 px-4 text-sm font-medium text-gray-600 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-gray-200">
                Previous
            </button>

            <div>
                <div
                    class="relative justify-center rounded-md py-2 px-4 text-sm font-medium text-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 bg-primary-50">
                    1
                </div>
            </div>

            <button type="button"
                class="relative selection:flex justify-center rounded-md border border-gray-200 dark:border-night-500 py-2 px-4 text-sm font-medium text-gray-600 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-gray-200">
                Next
            </button>
        </div>
    </div>
</div>

<div id="section" class="tab-content">
    <div class="grid grid-cols-1 border-x border-gray-200 dark:border-night-500 bg-white p-5 dark:bg-night-700">
        <app-schedule-section-table></app-schedule-section-table>
    </div>


    <div class="grid grid-cols-1 rounded-b-lg border-light-dark bg-white p-5 dark:bg-night-700">
        <div class="flex items-center justify-between space-x-3">
            <button type="button"
                class="relative selection:flex justify-center rounded-md border border-gray-200 dark:border-night-500 py-2 px-4 text-sm font-medium text-gray-600 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-gray-200">
                Previous
            </button>

            <div>
                <div
                    class="relative justify-center rounded-md py-2 px-4 text-sm font-medium text-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 bg-primary-50">
                    1
                </div>
            </div>

            <button type="button"
                class="relative selection:flex justify-center rounded-md border border-gray-200 dark:border-night-500 py-2 px-4 text-sm font-medium text-gray-600 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-gray-200">
                Next
            </button>
        </div>
    </div>

</div>
