
<!-- replace the violet if not satisfied. use this #feb07f  #9c5aa9-->

<nav [ngClass]="(showSideBar$ | async) ? 'w-52 xl:w-[312px]' : 'w-[70px]'"
    class="scrollbar-thumb-rounded scrollbar-track-rounded hidden h-full flex-col justify-between overflow-auto bg-primary-700 pt-3 transition-all duration-300 scrollbar-thin scrollbar-track-primary-700 scrollbar-thumb-primary-700 dark:bg-night-700 lg:flex">
    <div class="px-4">
        <!-- Logo -->
        <div class="relative h-10">
            <div class="flex items-center" *ngIf="showSideBar$ | async">
                <a class="flex items-center justify-center rounded bg-white p-2 focus:outline-none focus:ring-1">
                    <img src="assets/icons/BulSU Logo.png" alt="Logo" class="h-6 w-6">
                </a>
                <b class="ml-1 pl-2 text-xl font-medium text-gray-100 dark:text-night-50">
                    CICT Sentry
                </b>
            </div>

            <button (click)="toggleSidebar()"
                class="absolute top-2 right-2 flex h-5 w-5 items-center justify-center rounded text-gray-400 transition-all duration-200 focus:outline-none hover:text-gray-500 dark:text-night-400 dark:hover:text-night-300"
                [ngClass]="{ 'rotate-180': !(showSideBar$ | async) }">
                <i class="fa-solid fa-circle-chevron-left text-gray-100 text-center h-5 w-5"></i>
            </button>
        </div>



        <!-- Menu Items -->

        <div
            class="mt-6 group flex h-9 cursor-pointer items-center justify-start rounded p-2 bg-primary-600 dark:hover:bg-night-600">

            <i class="fa-solid fa-search text-gray-100 text-center w-5"></i>

            <!-- <a class="ml-3 truncate text-sm font-medium tracking-wide text-gray-100 focus:outline-none">
                Search
            </a> -->

            <form class="truncate text-sm font-medium tracking-wide text-gray-100 outline-none focus:outline-none" action="#" method="GET">
                <input type="search" name="q" class="bg-transparent truncate text-sm outline-none border-none font-medium tracking-wide placeholder:text-gray-100 text-gray-100 focus:outline-none" placeholder="Search">
            </form>

            <div class="fixed w-full" *ngIf="!(showSideBar$ | async)">
                <span
                    class="z-1 absolute left-12 -top-4 w-auto min-w-max origin-left scale-0 rounded-md bg-black p-2 text-xs font-bold text-white shadow-md transition-all duration-200 group-hover:scale-100 dark:bg-white dark:text-night-900">
                    Search
                </span>
            </div>
        </div>

        <app-sidebar-menu></app-sidebar-menu>
    </div>

    <div class="mx-4 my-4 space-y-2">

        <div [routerLink]="['/settings']" routerLinkActive="bg-primary-800"
            class="group flex h-9 cursor-pointer items-center justify-start rounded p-2 hover:bg-primary-600 dark:hover:bg-night-600">

            <i class="fa-solid fa-cog text-gray-100 text-center w-5"></i>

            <a routerLinkActive="text-gray-100" class="ml-3 truncate text-sm font-medium tracking-wide text-gray-100 focus:outline-none">
                Settings
            </a>

            <div class="fixed w-full" *ngIf="!(showSideBar$ | async)">
                <span
                    class="z-1 absolute left-12 -top-4 w-auto min-w-max origin-left scale-0 rounded-md bg-black p-2 text-xs font-bold text-white shadow-md transition-all duration-200 group-hover:scale-100 dark:bg-white dark:text-night-900">
                    Settings
                </span>
            </div>
        </div>

        <!-- Dark Theme -->
        <div (click)="toggleTheme()"
            class="group flex h-9 cursor-pointer items-center justify-start rounded p-2 hover:bg-primary-600 dark:hover:bg-night-600">


            <i class="fa-solid fa-{{ themeService.isDark ? 'sun' : 'moon' }} text-gray-100 text-center w-5"></i>


            <a class="ml-3 truncate text-sm font-medium tracking-wide text-gray-100 focus:outline-none">
                {{ themeService.isDark ? 'Light Theme' : 'Dark Theme' }}
            </a>

            <div class="fixed w-full" *ngIf="!(showSideBar$ | async)">
                <span
                    class="z-1 absolute left-12 -top-4 w-auto min-w-max origin-left scale-0 rounded-md bg-black p-2 text-xs font-bold text-white shadow-md transition-all duration-200 group-hover:scale-100 dark:bg-white dark:text-night-900">
                    Theme
                </span>
            </div>
        </div>
        <!-- Sign out -->
        <!-- <div (click)="onSignOut()"
            class="group flex h-9 cursor-pointer items-center justify-start rounded p-2 hover:bg-gray-500/[.5] dark:hover:bg-night-600">

            <i class="fa-solid fa-arrow-right-from-bracket text-gray-100 text-center w-5"></i>

            <a class="ml-3 truncate text-xs font-semibold tracking-wide text-gray-100 focus:outline-none">
                Sign out
            </a>

            <div class="fixed w-full" *ngIf="!(showSideBar$ | async)">
                <span
                    class="z-1 absolute left-12 -top-4 w-auto min-w-max origin-left scale-0 rounded-md bg-black p-2 text-xs font-bold text-white shadow-md transition-all duration-200 group-hover:scale-100 dark:bg-white dark:text-night-900">
                    Sign out
                </span>
            </div>
        </div> -->

        <!-- Separator -->
        <div class="py-3">
            <hr class="border-solid border-gray-400 dark:border-night-500" />
        </div>

        <div
        class="group flex h-9 cursor-pointer items-center justify-start rounded p-2">

              <img class="rounded-full w-10" src="assets/avatars/avt-01.jpg" alt="" />

        <div class="truncate">
            <p class="ml-3 truncate text-sm font-medium tracking-wide text-gray-100 focus:outline-none">
                Allen Vincent
            </p>
            <p class="ml-3 truncate text-[0.6rem] font-semibold tracking-wide text-gray-100 focus:outline-none">
                aveb@gmail.com
            </p>

        </div>

        <i class="truncate ml-auto fa-solid fa-arrow-right-from-bracket text-gray-100 text-center w-5"></i>





        <div class="fixed w-full" *ngIf="!(showSideBar$ | async)">
            <span
                class="absolute left-12 -top-4 w-auto min-w-max origin-left scale-0 rounded-md bg-black p-2 text-xs font-bold text-white shadow-md transition-all duration-200 group-hover:scale-100 dark:bg-white dark:text-night-900">
                Sign out
            </span>
        </div>
    </div>


    </div>
</nav>
