<!-- This creates a div element with class "dropdown" and "relative" and "inline-block" styles. It also uses the Angular
directive "ngFor" to loop over the array of menus, assigning each item to the variable "menu". -->


  <!-- This creates a div element that will serve as the dropdown menu. It has the "dropdown-content" class, which will be styled
  to display the dropdown contents below the button. It also has the Angular directive "navbar-submenu", which will be used to
  render the submenu items. The submenu items are passed as a property binding using the "submenu" input property of the
  navbar-submenu directive. -->


