<div class="flex flex-col pb-4">
  <!-- title bar -->
  <div class="sticky top-0 flex flex-col gap-4 px-4 py-8 bg-white dark:bg-night-800 rounded-tl-[32px]">
    <span class="text-[24px] text-gray-900 font-medium dark:text-white">
      Check Attendance
    </span>
  </div>

  <form *ngIf="schedule && markAsPresentForm" [formGroup]="markAsPresentForm" (ngSubmit)="onSubmit()" novalidate
        class="w-full flex justify-center">
    <div class="border-light-dark rounded-lg mx-4 w-full max-w-4xl">
      <!-- card-title -->
      <div class="flex flex-col gap-4 justify-between border-b dark:border-night-500">
        <div class="grow flex flex-col gap-0 border-b p-4 dark:border-night-500">
          <span class="text-gray-700 text-[16px] font-bold dark:text-white">
            {{schedule.subject?.code}} ({{schedule.subject?.title}})
          </span>
          <span class="text-gray-500 text-[14px] dark:text-night-100">
            Faculty Assigned: {{schedule.adviser?.full_name}}
          </span>
          <span class="text-gray-500 text-[14px] dark:text-night-100">
            Schedule: {{schedule.time_start}} - {{schedule.time_end}}
          </span>
        </div>

        <div class="flex flex-col gap-4 p-4 dark:text-white">
          <!-- add attachment -->
          <div *ngIf="markAsPresentForm.contains('attachment')" class="flex flex-col">
            <span>Add Attachment</span>
            <label for="attendance-attachment"
                   class="flex flex-col gap-2 justofy-center items-center border-light-dark rounded-lg p-4 text-center cursor-pointer">
              <span class="material-icons">
                cloud_upload
              </span>

              <div class="text-gray-500">
                <span class="text-primary-700 text-[14px] dark:text-night-100">Click to upload</span> or drag and drop
              </div>

              <span class="text-gray-500 text-[14px] dark:text-night-100">SVG, PNG, JPG or GIF (max. 800x400px)</span>
            </label>
            <input formControlName="attachment" class="absolute -top-10"
                   type="file" (change)="onFileChange($event)" name="attendance-attachment" id="attendance-attachment">
          </div>

          <!-- add remarks -->
          <div *ngIf="markAsPresentForm.contains('remarks')" class="flex flex-col">
            <span>Add Remarks</span>
            <textarea formControlName="remarks" class="textarea textarea-bordered resize-none" placeholder="Aa"
                      rows="4"></textarea>
          </div>
        </div>

        <!-- card-footer -->
        <div class="flex justify-end items-center p-4">
          <button type="submit"
                  class="button-plain btn-success w-fit transition-colors text-white hover:bg-green-700 dark:text-white">Mark
            as
            present
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
