@use "@angular/material" as mat;

@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sentry-frontend-primary: mat.define-palette(mat.$indigo-palette);
$sentry-frontend-accent: mat.define-palette(
    mat.$pink-palette,
    A200,
    A100,
    A400
);

// The warn palette is optional (defaults to red).
$sentry-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sentry-frontend-theme: mat.define-light-theme(
    (
        color: (
            primary: $sentry-frontend-primary,
            accent: $sentry-frontend-accent,
            warn: $sentry-frontend-warn,
        ),
    )
);

@include mat.all-component-themes($sentry-frontend-theme);


@import "./assets/fonts/Inter/stylesheet";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    [type="text"],
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
        @apply w-full rounded-md border border-gray-300 px-3 py-3 text-xs placeholder-gray-400 focus:z-10  focus:border-primary-700 focus:outline-none focus:ring-primary-700 dark:border-night-500 dark:bg-night-800 dark:text-night-400 dark:placeholder-night-200;
    }

    [type="checkbox"],
    [type="radio"] {
        @apply h-4 w-4 rounded border-gray-300 bg-gray-100 text-primary-700 focus:ring-2 focus:ring-primary-700 dark:border-night-600 dark:bg-night-700 dark:ring-offset-night-800 dark:focus:ring-primary-700;
    }
}

@layer components {
    .dropdown-content {
        @apply pointer-events-none scale-95 opacity-0 duration-100 ease-in;
    }
    .dropdown:hover > .dropdown-content {
        @apply pointer-events-auto block scale-100 animate-fade-in-up opacity-100 duration-200;
    }
    .border-light-dark {
        @apply border border-gray-300 dark:border-night-500;
    }
    .tab-content {
        @apply hidden;
    }
    .tab-link.active {
        @apply border-primary-700 bg-primary-700 text-white dark:text-white hover:bg-primary-600;
    }
    .tab-link {
        @apply cursor-pointer;
    }
    .tab-content.active {
        @apply block;
    }
    .button-plain {
        @apply border border-gray-300 dark:border-night-500 rounded-md px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100 dark:text-night-200 dark:hover:bg-night-500
    }
    .button-colored {
        @apply border border-primary-700 hover:bg-primary-600 bg-primary-700 text-white rounded-md px-4 py-2 text-sm font-medium;
    }
    .search-bar {
        @apply h-full w-full outline-none bg-transparent focus:border-none focus:ring-0 dark:bg-transparent text-sm text-gray-700 pr-2 border-none;
    }
    .tab-button-1{
        @apply relative selection:flex justify-center rounded-l-md border border-gray-300 dark:border-night-500 py-2 px-4 text-sm font-medium text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-gray-100 dark:text-night-200 dark:hover:bg-night-500;
    }
    .tab-button-2{
        @apply relative selection:flex justify-center border-y border-gray-300 dark:border-night-500 py-2 px-4 text-sm font-medium text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-gray-100 dark:text-night-200 dark:hover:bg-night-500;
    }
    .tab-button-3{
        @apply relative selection:flex justify-center rounded-r-md border border-gray-300 dark:border-night-500 py-2 px-4 text-sm font-medium text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:ring-offset-2 hover:bg-gray-100 dark:text-night-200 dark:hover:bg-night-500;
    }
    .text-heading{
        @apply font-medium text-gray-900 md:text-3xl text-2xl dark:text-white;
    }
    .text-subheading{
        @apply space-x-1 md:text-base text-sm font-medium text-gray-400 dark:text-night-300;
    }
}

/** Scroll bar **/
@supports selector(::-webkit-scrollbar) {
    .supports-scrollbars\: pr-2 {
        padding-right: 0.5rem;
    }
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Inter, Roboto, sans-serif;
}

// tr:nth-child(even) {
//     background-color: #f2f2f2;
// }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}


.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 0;
    padding-bottom: 0;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    padding-right: 0;
    padding-left: 0;
}

.mat-mdc-form-field-infix {
    min-height: 0;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent;
}

.mat-mdc-form-field-subscript-wrapper {
    height: 0px;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    border-radius: 0.375rem;
}

.mdc-line-ripple {
    display: none;
}

.date-field:focus {
    --tw-ring-opacity: 0;
}

.chart-container .apexcharts-bar {
    border-radius: 5px;
  }

  .floating-icon{

    position: relative;
    animation: mymove 2.5s infinite;
  }

  @keyframes mymove {
    33%   {top: 0px;}
    66%  {top: 20px;}
    100%  {top: 0px}



  }
