<div class="flex h-screen w-full overflow-hidden md:bg-primary-700 bg-transparent transition-all duration-300 dark:bg-night-700">
    <!-- Sidebar -->
    <app-sidebar (signOut)="signOut($event)"></app-sidebar>

    <div class="grid flex-grow content-start rounded-tl-[2rem] border-t-[12px] md:mt-3 mt-0 border-white dark:border-night-800 bg-white dark:bg-night-800">
        <!-- Header -->
        <app-navbar></app-navbar>
        <!-- main content -->
        <div
            class="scrollbar-thumb-rounded scrollbar-track-rounded overflow-auto scrollbar-thin scrollbar-thumb-white scrollbar-track-gray-100 dark:scrollbar-thumb-night-700 dark:scrollbar-track-night-800">
            <router-outlet></router-outlet>
        </div>

        <!-- footer -->
        <!-- <app-footer></app-footer> -->

        <!-- Bottom bar -->
        <!-- <app-bottom-navbar></app-bottom-navbar> -->
    </div>
</div>
